---
layout: "layouts/base.njk"
permalink: "/industries/finance/"
title: "Video Production For Finance | Studio Say So"
description: "Give customers the confidence to trust you with their money and get the most out of your solutions. See how Studio Say So finance productions can help your financial institution."
canonical: "https://studiosayso.com/industries/finance/"
robots: "follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
bodyClass: "wp-singular page-template page-template-template-pages page-template-page-studio-say-so page-template-template-pagespage-studio-say-so-php page page-id-20 page-child parent-pageid-14 wp-theme-studio-say-so"
ogTags: |
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Video Production For Finance | Studio Say So" />
  <meta property="og:description" content="Give customers the confidence to trust you with their money and get the most out of your solutions. See how Studio Say So finance productions can help your financial institution." />
  <meta property="og:url" content="https://studiosayso.com/industries/finance/" />
  <meta property="og:site_name" content="Studio Say So" />
  <meta property="og:updated_time" content="2023-03-27T22:04:34-04:00" />
twitterTags: |
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Video Production For Finance | Studio Say So" />
  <meta name="twitter:description" content="Give customers the confidence to trust you with their money and get the most out of your solutions. See how Studio Say So finance productions can help your financial institution." />
  <meta name="twitter:label1" content="Time to read" />
  <meta name="twitter:data1" content="Less than a minute" />
schema:
  type: "WebPage"
  datePublished: "2022-12-21T15:46:57-05:00"
  dateModified: "2023-03-27T22:04:34-04:00"
  breadcrumb:
    - name: "Industries"
      url: "https://studiosayso.com/industries/"
    - name: "Finance"
      url: "https://studiosayso.com/industries/finance/"
  image:
    url: "https://studiosayso.com/wp-content/uploads/2023/02/sss-financial-03.meta.jpg"
    width: 2000
    height: 1121
  faq:
    - q: "What types of financial institutions do you work with?"
      a: "We’ve made videos for banks, private equity firms, financial advisors, hedge funds, credit unions, and more."
    - q: "What types of videos can you make?"
      a: "We’ve made every video a financial organization could need, including but not limited to commercials, brand films, testimonial videos, HR videos, investor videos, and social media content."
    - q: "How much do financial videos cost?"
      a: "Cost depends heavily on your project and its needs. Our live-action and animated video projects start at $10,000 and go up from there. For an accurate project estimate, get in touch."
    - q: "How long does finance video production take?"
      a: "Our videos take 3 months to produce on average, but they can take more or less time depending on video length and complexity, feedback turnaround time, and the deadlines on your plate."
    - q: "Can you make an animated video?"
      a: "Yes, we can create animated, live-action, or combination videos based on your needs and goals."
    - q: "What if I don’t know what video(s) I need?"
      a: "We’ll help you figure it out. We’ve worked with enough financial clients to look at the challenges you face, understand how video can help, and ultimately design a solution that connects with your target audience to achieve the goals you’ve set for your company."
    - q: "What if I already have my entire video planned out?"
      a: "No matter how far along your vision is, we can pick up wherever you left off. While many clients require our advice and story-telling expertise, we’re happy to exist solely as an execution partner if that’s what you need."
    - q: "What about actors, locations, and props?"
      a: "If there are specific actors, locations, and props you’d like to use for a video, we can work with your preferences. Otherwise, we handle all of these details ourselves in the pre-production stage of our creative process."
    - q: "Where can I publish videos once they’re done?"
      a: "You can publish your video anywhere you want, though we’ll discuss your best options for promotion both pre- and post-production. Proper video distribution is just as important as the video itself, and we want your videos to achieve your goals."
  service:
    name: "Financial Services Video Production"
    serviceType: "Financial Services Video Production"
    description: "Video production for banks, credit unions, advisors and fintech: brand campaigns, explainer and training video."
lastmod: "2023-03-27T22:04:34-04:00"
---
{% import "macros/ui.njk" as ui %}
<div class="studio-custom relative overflow-hidden">
  <div class="text-transparent">
    _
  </div>
  <section
        style="background-image: url(/wp-content/uploads/2023/02/sss-financial-03.webp); background-position: center; background-size: cover;"
        class="text-white mt-24 py-28 relative">
    <div class="relative z-20 custom-container">
      <div class="text-left">
        <h1 class="text-5xl lg:text-6xl font-bold font-display leading-[.95] max-w-[21ch]">
          Earn people’s trust with financial services video production.
        </h1>
        <h2 class="max-w-[36ch] mt-12 mb-10">
          Give customers the confidence to trust you with their money and get the most out of your solutions.
        </h2>
        <div class="">
          <div class="link-group">
            <a class=" px-5 py-4 bg-colorAccent-700 uppercase font-bold text-white flex gap-4 items-center w-fit hover:shadow hover:translate-x-1 transition duration-200 button" href="/contact-us/"><span>Let's Talk</span>{{ ui.arrow() }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute w-full h-full z-0 bg-siteBackground bg-blend-multiply bg-opacity-75 top-0 right-0">
    </div>
  </section>
  <div class="bg-colorAccent-700">
    <div class="custom-container py-28">
      <h2 class="text-white text-4xl font-display heading-underline">
        Demonstrate your services in action.
      </h2>
      <div class="[&_*]:text-white my-6 max-w-[787px]">
        <p>
          In the financial industry, easier conversions and larger investments come down to trust in your products. Use video to prove your credibility, explain difficult topics with ease, and make your audience imagine life with all you have to offer.
        </p>
      </div>
      <div class="flex justify-center items-center flex-wrap gap-10 xl:gap-16 mt-12">
        <div class="flex-1 text-white">
          <h3 class="font-display text-[40px]">
            79%
          </h3>
          <p class="min-w-[22ch] max-w-[40ch] lg:max-w-[36ch]">
            of people say a video convinced them to download an app or piece of software.
          </p>
        </div>
        <div class="flex-1 text-white">
          <h3 class="font-display text-[40px]">
            84%
          </h3>
          <p class="min-w-[22ch] max-w-[40ch] lg:max-w-[36ch]">
            of people say a brand video convinced them to buy a product or service.
          </p>
        </div>
        <div class="flex-1 text-white">
          <h3 class="font-display text-[40px]">
            94%
          </h3>
          <p class="min-w-[22ch] max-w-[40ch] lg:max-w-[36ch]">
            of video marketers say video increases product and service understanding.
          </p>
        </div>
        <div class="flex-1 text-white">
          <h3 class="font-display text-[40px]">
            93%
          </h3>
          <p class="min-w-[22ch] max-w-[40ch] lg:max-w-[36ch]">
            of consumers find video helpful for post-purchase instructions.
          </p>
        </div>
        <div class="flex-1 text-white">
          <h3 class="font-display text-[40px]">
            10,000+
          </h3>
          <p class="min-w-[22ch] max-w-[40ch] lg:max-w-[36ch]">
            fintech companies to compete with in the US.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-16 border-colorAccent-border py-10 my-20 pb-[70px] md:py-20 md:my-28 md:pb-[110px] ">
      <div class="flex-1">
        <h2 class="text-white text-4xl font-display heading-underline">
          From local banks to large corporations.
        </h2>
        <div class="[&_*]:text-colorText-body my-6">
          <p>
            We’ve partnered with financial institutions across the U.S. to help them navigate the intricacies of their internal and external communications and form strong relationships.
          </p>
          <p>
            &nbsp;
          </p>
          <p>
            Our partnerships keep us up to date with the shifting landscape of financial laws, standards, and technologies so that we can tell the right story without the need for hand-holding
          </p>
        </div>
      </div>
      <div class="flex-1 flex justify-center scale-75 md:scale-100 items-center flex-col gap-12 max-h-[300px] my-auto relative">
        <div class="flex-1 text-white">
          <div class="flex-1 text-white flex flex-col items-center justify-center">
            <h3 class="font-display text-[60px] text-center leading-[.98]">
              50+
            </h3>
            <h4 class="max-w-[16ch] font-display text-center">
              <p>
                financial
              </p>
              <p>
                videos.
              </p>
            </h4>
          </div>
        </div>
        <div class="flex-1 text-white flex justify-between items-center gap-10">
          <div class="flex-1 text-white flex flex-col items-center justify-center">
            <h3 class="font-display text-[60px] text-center leading-[.98]">
              10+
            </h3>
            <h4 class="max-w-[16ch] font-display text-center">
              <p>
                years
              </p>
              <p>
                experience.
              </p>
            </h4>
          </div>
          <div class="flex-1 text-white flex flex-col items-center justify-center">
            <h3 class="font-display text-[60px] text-center leading-[.98]">
            </h3>
            <h4 class="max-w-[16ch] font-display text-center">
            </h4>
          </div>
        </div>
        <div class="w-[430px] -z-10 opacity-0.25 absolute translate-x-1/2 -translate-y-1/2 top-[54%] right-1/2">
          {{ ui.blob() }}
        </div>
      </div>
    </div>
  </div>
  <section class="custom-container">
    <div class="flex flex-col items-center justify-center text-center py-12 my-12 border-colorAccent-border border-t pt-40 ">
      <div class="grid grid-cols-1 md:grid-cols-3 w-screen md:gap-10">
        <div class="border-2 border-colorAccent-border max-w-[1000px]">
          <img class="min-w-full" src="/wp-content/uploads/2023/02/sss-financial-05.webp" alt="Boardroom scene filmed for a financial services video" width="898" height="506" loading="lazy" decoding="async" />
        </div>
        <div class="md:border-2 border-colorAccent-border max-w-[1000px] md:-translate-y-12">
          <img class="min-w-full" src="/wp-content/uploads/2023/02/sss-financial-04.webp" alt="Camera operator filming a financial services client on location" width="898" height="506" loading="lazy" decoding="async" />
        </div>
        <div class="border-2 border-colorAccent-border max-w-[1000px]">
          <img class="min-w-full" src="/wp-content/uploads/2023/02/sss-financial-02.webp" alt="Financial services professional filmed in an office interview setup" width="898" height="506" loading="lazy" decoding="async" />
        </div>
      </div>
    </div>
  </section>
  <section class="custom-container">
    <div class="flex flex-col lg:flex-row items-start justify-between custom-container gap-12 lg:gap-28 border-colorAccent-border py-12 ">
      <div class="text-white flex flex-col gap-3 items-center justify-center flex-1">
        <p class="text-center">
          “Their work is obviously beautiful, but my favorite part about working with Studio Say So is that they are true partners throughout every step of the process. They not only work to understand your goals for each project, but they are also committed to really understanding your brand and your audience. They are responsive, nimble, and easy to work with, and they’ll bend over backwards to meet deadlines. Most importantly, you can tell that they truly care about what they do and the success of your partnership. The result is work that resonates.”
        </p>
        <span>- Luke Woodling, Assistant Vice President, Marketing, Rollins College</span>
      </div>
      <div class="text-white flex flex-col gap-3 items-center justify-center flex-1">
        <p class="text-center">
          “We pitch our video ideas with confidence, knowing SSS will always achieve our vision. They are excellent collaborators on set, and provide value to our client relationships. Most of all, their willingness to work within our creative parameters and be genuinely enthusiastic and creative keeps us coming back each opportunity.”
        </p>
        <span>- 321 The Agency</span>
      </div>
      <div class="text-white flex flex-col gap-3 items-center justify-center flex-1">
        <p class="text-center">
          “When Valencia College marked its 50th anniversary, we hoped to create a video that would avoid the usual self congratulatory message or nostalgic look back, and instead, define Valencia’s place in the lives of our students. Studio Say So brought that vision beautifully to life — on time and on budget. We couldn’t have asked for a better partner in this project than Studio Say So, whose commitment and talent made them a pleasure to work with throughout the production process.”
        </p>
        <span>- “When Valencia College marked its 50th anniversary, we hoped to create a video that would avoid the usual self congratulatory message or nostalgic look back, and instead, define Valencia’s place in the lives of our students. Studio Say So brought that vision beautifully to life — on time and on budget. We couldn’t have asked for a better partner in this project than Studio Say So, whose commitment and talent made them a pleasure to work with throughout the production process.”</span>
      </div>
    </div>
  </section>
  <section class="custom-container">
    <div class="flex items-center justify-center flex-col gap-10 py-12">
      <div class="grid grid-cols-1 md:grid-cols-3 md:gap-12">
        <div class="flex flex-col items-center justify-center gap-4 px-4 py-20 lg:py-0">
          <div class="max-h-[36px] flex items-center justify-center mix-blend-luminosity">
            <img class="" src="/wp-content/uploads/2023/01/case-study-rollins.webp" alt="Rollins College" width="193" height="50" loading="lazy" decoding="async" />
          </div>
        </div>
        <div class="flex flex-col items-center justify-center gap-4 px-4 py-20 lg:py-0">
          <div class="max-h-[36px] flex items-center justify-center mix-blend-luminosity">
            <img class="" src="/wp-content/uploads/2023/01/case-study-disney.webp" alt="shopDisney" width="193" height="88" loading="lazy" decoding="async" />
          </div>
        </div>
        <div class="flex flex-col items-center justify-center gap-4 px-4 py-20 lg:py-0">
          <div class="max-h-[36px] flex items-center justify-center mix-blend-luminosity">
            <img class="" src="/wp-content/uploads/2023/01/case-study-valencia-college.webp" alt="Valencia College" width="289" height="44" loading="lazy" decoding="async" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="custom-container">
    <div class="flex flex-col items-center gap-8 relative border-colorAccent-border py-12 my-12 border-t pt-24 mt-12 ">
      <h2 class="text-white text-4xl font-display max-w-[26ch] text-center">
        Prove your worth through video.
      </h2>
      <div class="link-group">
        <a class=" px-5 py-4 bg-colorAccent-700 uppercase font-bold text-white flex gap-4 items-center w-fit hover:shadow hover:translate-x-1 transition duration-200 button" href="/contact-us/"><span>Contact</span>{{ ui.arrow() }}</a>
      </div>
    </div>
  </section>
  <section class="relative pt-36  overflow-hidden">
    <div class="-z-10 absolute translate-x-1/2 right-1/2 top-0 min-w-[120vw] flex items-center justify-center">
      {{ ui.blob() }}
      <div class="absolute w-full h-full bg-siteBackground top-1/2 right-0">
      </div>
    </div>
    <div class="custom-container relative">
      <h2 class="text-center text-white text-3xl lg:text-4xl font-display mb-2">
        Still have questions?
      </h2>
      <h3 class="text-center text-white text-[20px] mb-2 lg:mb-36">
        Review our financial video production FAQs.
      </h3>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-32 mb-28 py-12">
        <div class="grid grid-cols-1 gap-12">
          <div class="">
            <h3 class="text-white font-bold text-[18px]">
              What types of financial institutions do you work with?
            </h3>
            <div class="text-colorText-body">
              <p>
                We’ve made videos for banks, private equity firms, financial advisors, hedge funds, credit unions, and more.
              </p>
            </div>
          </div>
          <div class="">
            <h3 class="text-white font-bold text-[18px]">
              What types of videos can you make?
            </h3>
            <div class="text-colorText-body">
              <p>
                We’ve made every video a financial organization could need, including but not limited to commercials, brand films, testimonial videos, HR videos, investor videos, and social media content.
              </p>
            </div>
          </div>
          <div class="">
            <h3 class="text-white font-bold text-[18px]">
              How much do financial videos cost?
            </h3>
            <div class="text-colorText-body">
              <p>
                Cost depends heavily on your project and its needs. Our live-action and animated video projects start at $10,000 and go up from there. For an accurate project estimate, <a href="/contact-us/">get in touch.</a>
              </p>
            </div>
          </div>
          <div class="">
            <h3 class="text-white font-bold text-[18px]">
              How long does finance video production take?
            </h3>
            <div class="text-colorText-body">
              <p>
                Our videos take 3 months to produce on average, but they can take more or less time depending on video length and complexity, feedback turnaround time, and the deadlines on your plate.
              </p>
            </div>
          </div>
          <div class="">
            <h3 class="text-white font-bold text-[18px]">
              Can you make an animated video?
            </h3>
            <div class="text-colorText-body">
              <p>
                Yes, we can create animated, live-action, or combination videos based on your needs and goals.
              </p>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-12">
          <div class="">
            <h3 class="text-white font-bold text-[18px]">
              What if I don’t know what video(s) I need?
            </h3>
            <div class="text-colorText-body">
              <p>
                We’ll help you figure it out. We’ve worked with enough financial clients to look at the challenges you face, understand how video can help, and ultimately design a solution that connects with your target audience to achieve the goals you’ve set for your company.
              </p>
            </div>
          </div>
          <div class="">
            <h3 class="text-white font-bold text-[18px]">
              What if I already have my entire video planned out?
            </h3>
            <div class="text-colorText-body">
              <p>
                No matter how far along your vision is, we can pick up wherever you left off. While many clients require our advice and story-telling expertise, we’re happy to exist solely as an execution partner if that’s what you need.
              </p>
            </div>
          </div>
          <div class="">
            <h3 class="text-white font-bold text-[18px]">
              What about actors, locations, and props?
            </h3>
            <div class="text-colorText-body">
              <p>
                If there are specific actors, locations, and props you’d like to use for a video, we can work with your preferences. Otherwise, we handle all of these details ourselves in the pre-production stage of our creative process.
              </p>
            </div>
          </div>
          <div class="">
            <h3 class="text-white font-bold text-[18px]">
              Where can I publish videos once they’re done?
            </h3>
            <div class="text-colorText-body">
              <p>
                You can publish your video anywhere you want, though we’ll discuss your best options for promotion both pre- and post-production. Proper video distribution is just as important as the video itself, and we want your videos to achieve your goals.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
