---
layout: layouts/case-study.njk
permalink: /work/321-the-agency-shopdisney/
title: shopDisney and 321 The Agency
description: "How Studio Say So and 321 The Agency produced over 40 shopDisney ads — hundreds of products, 15+ cast and four Disney properties in two shoot days."
canonical: https://studiosayso.com/work/321-the-agency-shopdisney/
robots: follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large
schema:
  type: WebPage
  datePublished: '2023-02-10T18:07:16-05:00'
  dateModified: '2023-03-27T19:15:55-04:00'
  image:
    url: https://studiosayso.com/assets/img/shop-disney-01.meta.jpg
    width: 614
    height: 338
    caption: 321 The Agency
  breadcrumb:
    - name: Work
      url: https://studiosayso.com/work/
    - name: 321 The Agency | shopDisney
      url: https://studiosayso.com/work/321-the-agency-shopdisney/
  work: true
  video:
    name: Find All Your Favorites from Disney, Marvel, Star Wars, Nat Geo & More at shopDisney.com
    description: Shop the latest & greatest toys, clothing, and accessories from Disney, Marvel, Star Wars, Pixar, & Nat Geo.
    thumbnailUrl: https://i.ytimg.com/vi/PDNWxndTHVw/maxresdefault.jpg
    uploadDate: '2022-06-20T10:19:40-07:00'
    duration: PT0M30S
    embedUrl: https://www.youtube.com/embed/PDNWxndTHVw
    contentUrl: https://www.youtube.com/watch?v=PDNWxndTHVw
caseStudy:
  client: 321 The Agency | shopDisney
  heroImage: /assets/img/shop-disney-01.webp
  video: https://www.youtube.com/watch?v=PDNWxndTHVw
  summary: 321 The Agency is a digital marketing agency is located in Central Florida. shopDisney is one of their clients and the global online retail arm of the Walt Disney Company.
  credits: |-
    <strong>Video Type:</strong> Ad Series <strong>Production Company:</strong> Studio Say So <strong>Services:</strong> Creative, Full Production
            <br />
            <strong>Director:</strong> Marshall Head <strong> Producer:</strong> Mackenzie Wiler <strong>Editor:</strong> Audri Tearpak
  challenge: To appeal to the younger adult generation and urbanites, shopDisney planned a campaign to show off their new products and direction. It needed to include an incredible number of retail items, from clothing and accessories to toys and more, in a variety of locations with a diverse mix of talent. With 321, we created a look and feel that carried through each and every ad.
  process: Far from simple, we had hundreds of wardrobe items, a long list of locations, 15+ talent representing four unique Disney properties—and two days to shoot it all. To make it possible, we left nothing to chance in pre-production, where we meticulously planned the coming shoot days. In the end, we created over 40 videos of varying lengths, formats, focuses, and edits.
  results: |-
    The videos have aired across shopDisney’s website and social media, broadcast TV, and billboards, including Times Square. shopDisney continues to find value in the videos as they show them throughout the US and begin preparing to roll the campaign out to a broader audience in 2023.

    Meanwhile, we are long-term partners with 321 and continue to work on shopDisney projects with them. Our relationship with 321 allows them to pursue bigger projects as an agency, like this o
  cta: Let's discuss your project
---
<section class="custom-container mb-28">
  <div class="bg-colorAccent-700 text-white text-center mx-auto py-16">
    <div class="max-w-[94ch] mx-auto">
      “We pitch our video ideas with confidence, knowing SSS will always achieve our vision. They are excellent collaborators on set and provide value to our client relationships. Most of all, their willingness to work within our creative parameters and be genuinely enthusiastic and creative keeps us coming back each opportunity.”
      <br />
      <br />
      –321 The Agency
    </div>
  </div>
</section>
