---
layout: "layouts/base.njk"
permalink: "/work/321-the-agency-shopdisney/"
title: "shopDisney and 321 The Agency | Studio Say So"
description: "321 The Agency is a digital marketing agency in Central Florida. shopDisney is one of their clients and the global online retail arm of the Walt Disney Company."
canonical: "https://studiosayso.com/work/321-the-agency-shopdisney/"
ogType: "article"
readingTime: "Less than a minute"
robots: "follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
bodyClass: "wp-singular page-template page-template-template-pages page-template-page-case-study-detail page-template-template-pagespage-case-study-detail-php page page-id-1110 page-child parent-pageid-10 wp-theme-studio-say-so"
schema:
  type: "WebPage"
  datePublished: "2023-02-10T18:07:16-05:00"
  dateModified: "2023-03-27T19:15:55-04:00"
  image:
    url: "https://studiosayso.com/wp-content/uploads/2023/02/shop-disney-01.meta.jpg"
    width: 614
    height: 338
    caption: "321 The Agency"
  breadcrumb:
    - name: "Work"
      url: "https://studiosayso.com/work/"
    - name: "321 The Agency | shopDisney"
      url: "https://studiosayso.com/work/321-the-agency-shopdisney/"
  work: true
  video:
    name: "Find All Your Favorites from Disney, Marvel, Star Wars, Nat Geo & More at shopDisney.com"
    description: "Shop the latest & greatest toys, clothing, and accessories from Disney, Marvel, Star Wars, Pixar, & Nat Geo."
    thumbnailUrl: "https://i.ytimg.com/vi/PDNWxndTHVw/hqdefault.jpg"
    uploadDate: "2022-06-20T10:19:40-07:00"
    duration: "PT0M30S"
    embedUrl: "https://www.youtube.com/embed/PDNWxndTHVw"
    contentUrl: "https://www.youtube.com/watch?v=PDNWxndTHVw"
---
{% import "macros/ui.njk" as ui %}
<section
        class="w-screen h-screen flex flex-col items-center justify-center text-white relative main-carousel"
        style="background-image: url(/wp-content/uploads/2023/02/shop-disney-01.webp); background-position: center; background-size: cover;">
  <h1 class="text-5xl lg:text-6xl font-bold font-display leading-[.95] max-w-[21ch] mb-3 index-slider">
    321 The Agency | shopDisney
  </h1>
  <h2 class="max-w-[21ch] mb-10">
    Case Study
  </h2>
  <a href="https://www.youtube.com/watch?v=PDNWxndTHVw" class=" block opacity-100 transition duration-500 w-[56px] h-[56px]" rel="lightbox">{{ ui.scrollCue() }}</a><a href="#case-study" class="absolute bottom-12 right-1/2 block opacity-100 transition translate-x-1/2 animate-bounce duration-700">{{ ui.arrowDown() }} </a>
</section>
<section id="case-study" class="flex flex-col items-center justify-center pt-16 relative my-16">
  <div class="custom-container flex flex-col items-center justify-center ">
    <h2 class="text-white text-[28px]">
      Case Study
    </h2>
    <h2 class="heading-underline text-white font-display text-5xl max-w-[21ch] mb-6 text-center">
      321 The Agency | shopDisney
    </h2>
    <div class="text-colorText-body max-w-[84ch] whitespace-pre-line text-center">321 The Agency is a digital marketing agency is located in Central Florida. shopDisney is one of their clients and the global online retail arm of the Walt Disney Company.</div>
    <div class="text-colorText-body text-center mt-16 flex flex-col gap-0 [&_strong]:text-white">
      <p>
        <strong>Video Type:</strong> Ad Series <strong>Production Company:</strong> Studio Say So <strong>Services:</strong> Creative, Full Production
        <br />
        <strong>Director:</strong> Marshall Head <strong> Producer:</strong> Mackenzie Wiler <strong>Editor:</strong> Audri Tearpak
      </p>
    </div>
  </div>
  <div class="w-[206px] lg:w-[400px] -z-10 opacity-0.5 absolute right-0 hidden lg:block translate-x-1/2 -translate-y-1/2 top-[60%]">
    {{ ui.blob() }}
  </div>
  <div class="w-[206px] lg:w-[400px] -z-10 opacity-0.5 absolute left-0 hidden lg:block -translate-x-1/2 -translate-y-1/2 top-[60%]">
    {{ ui.blob() }}
  </div>
</section>
<section class="custom-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20 mt-32 mb-28">
  <div>
    <h2 class="heading-underline text-white font-display text-4xl max-w-[21ch] mb-6">
      The Challenge
    </h2>
    <div class="text-colorText-body max-w-[80ch] whitespace-pre-line">To appeal to the younger adult generation and urbanites, shopDisney planned a campaign to show off their new products and direction. It needed to include an incredible number of retail items, from clothing and accessories to toys and more, in a variety of locations with a diverse mix of talent. With 321, we created a look and feel that carried through each and every ad.</div>
  </div>
  <div>
    <h2 class="heading-underline text-white font-display text-4xl max-w-[21ch] mb-6">
      Our Process
    </h2>
    <div class="text-colorText-body max-w-[80ch] whitespace-pre-line">Far from simple, we had hundreds of wardrobe items, a long list of locations, 15+ talent representing four unique Disney properties—and two days to shoot it all. To make it possible, we left nothing to chance in pre-production, where we meticulously planned the coming shoot days. In the end, we created over 40 videos of varying lengths, formats, focuses, and edits.</div>
  </div>
  <div>
    <h2 class="heading-underline text-white font-display text-4xl max-w-[21ch] mb-6">
      The Results
    </h2>
    <div class="text-colorText-body max-w-[80ch] whitespace-pre-line">The videos have aired across shopDisney’s website and social media, broadcast TV, and billboards, including Times Square. shopDisney continues to find value in the videos as they show them throughout the US and begin preparing to roll the campaign out to a broader audience in 2023.

Meanwhile, we are long-term partners with 321 and continue to work on shopDisney projects with them. Our relationship with 321 allows them to pursue bigger projects as an agency, like this o</div>
  </div>
</section>
<section class="custom-container mb-28">
  <div class="bg-colorAccent-700 text-white text-center mx-auto py-16">
    <div class="max-w-[94ch] mx-auto">
      “We pitch our video ideas with confidence, knowing SSS will always achieve our vision. They are excellent collaborators on set and provide value to our client relationships. Most of all, their willingness to work within our creative parameters and be genuinely enthusiastic and creative keeps us coming back each opportunity.”
      <br />
      <br />
      –321 The Agency
    </div>
  </div>
</section>
<section class="custom-container">
  <div class="flex flex-col items-center gap-8 relative border-colorAccent-border py-12 my-12 ">
    <h2 class="text-white text-4xl font-display max-w-[26ch] text-center">
      Let's discuss your project
    </h2>
    <div class="link-group">
      <a class=" px-5 py-4 bg-colorAccent-700 uppercase font-bold text-white flex gap-4 items-center w-fit hover:shadow hover:translate-x-1 transition duration-200 button" href="/contact-us/"><span>Let's Talk</span>{{ ui.arrow() }}</a>
    </div>
  </div>
</section>
<section class="custom-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:divide-x lg:gap-4">
  <div class="border-colorAccent-border md:px-8 lg:px-16 text-white mb-28">
    <div
                            class="aspect-[250_/_160] border border-colorAccent-border mb-8"
                            style="background-image: url(/wp-content/uploads/2023/02/adventhealth.webp); background-position: center; background-size: cover;">
    </div>
    <h3 class="font-display text-[22px] mb-3">
      AdventHealth
    </h3>
    <a class="font-display text-white flex gap-4 items-center w-fit hover:translate-x-1 transition duration-200 button" href="/work/adventhealth/"><span>See Case Study</span>{{ ui.arrow() }} </a>
  </div>
  <div class="border-colorAccent-border md:px-8 lg:px-16 text-white mb-28">
    <div
                            class="aspect-[250_/_160] border border-colorAccent-border mb-8"
                            style="background-image: url(/wp-content/uploads/2023/02/rollins.webp); background-position: center; background-size: cover;">
    </div>
    <h3 class="font-display text-[22px] mb-3">
      Rollins College
    </h3>
    <a class="font-display text-white flex gap-4 items-center w-fit hover:translate-x-1 transition duration-200 button" href="/work/rollins-college/"><span>See Case Study</span>{{ ui.arrow() }} </a>
  </div>
  <div class="border-colorAccent-border md:px-8 lg:px-16 text-white mb-28">
    <div
                            class="aspect-[250_/_160] border border-colorAccent-border mb-8"
                            style="background-image: url(/wp-content/uploads/2023/02/campbellsville-01.webp); background-position: center; background-size: cover;">
    </div>
    <h3 class="font-display text-[22px] mb-3">
      Wiley Campbellsville
    </h3>
    <a class="font-display text-white flex gap-4 items-center w-fit hover:translate-x-1 transition duration-200 button" href="/work/wiley-campbellsville/"><span>See Case Study</span>{{ ui.arrow() }} </a>
  </div>
</section>
