---
layout: layouts/case-study.njk
permalink: /work/adventhealth/
title: AdventHealth
description: "How Studio Say So told the story of AdventHealth’s diabetes research — a film built to reach partners and volunteers without the medical jargon."
canonical: https://studiosayso.com/work/adventhealth/
robots: follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large
schema:
  type: WebPage
  datePublished: '2023-02-10T16:29:55-05:00'
  dateModified: '2023-03-27T21:42:14-04:00'
  image:
    url: https://studiosayso.com/assets/img/adventhealth.meta.jpg
    width: 612
    height: 338
    caption: AdventHealth Healthcare Video Production
  breadcrumb:
    - name: Work
      url: https://studiosayso.com/work/
    - name: AdventHealth
      url: https://studiosayso.com/work/adventhealth/
  work: true
  video:
    name: AdventHealth Translational Research Institute
    description: The mission of the AdventHealth Translational Research Institute (TRI) is to extend and improve the quality of lives through the conduct of world-class, innovative translational research that leads to discoveries – and ultimately cures – for obesity, diabetes, and cardiovascular diseases.
    thumbnailUrl: https://i.ytimg.com/vi/z00RWK7ZTsc/maxresdefault.jpg
    uploadDate: '2022-07-26T08:22:15-07:00'
    duration: PT2M26S
    embedUrl: https://www.youtube.com/embed/z00RWK7ZTsc
    contentUrl: https://www.youtube.com/watch?v=z00RWK7ZTsc
caseStudy:
  client: AdventHealth
  heroImage: /assets/img/adventhealth.webp
  video: https://www.youtube.com/watch?v=z00RWK7ZTsc&t=2s
  summary: AdventHealth is a large healthcare company operating in 9 states through a vast network of caring hospitals and doctors.
  credits: |-
    <strong>Video Type:</strong> Ad <strong>Production Company:</strong> Studio Say So <strong>Services:</strong> Creative, Full Production
            <br />
            <strong>Director:</strong> Marshall Head <strong> Producer:</strong> Mackenzie Wiler <strong>Editor:</strong> Audri Tearpak
  challenge: 'AdventHealth’s Research Institute needed a video to showcase the world-changing diabetes research they were conducting while appealing to partners and volunteers. In turn, we needed to capture the full story of their extensive and complex research in a way that was accessible. '
  process: We wanted the video to feel approachable from all angles, so we minimized medical jargon and kept our approach honest and human by showing all the meaningful faces behind diabetes—patients, caregivers, doctors, researchers, and scientists. We filmed over several days to capture exciting footage throughout the organization. Then we set to editing and hacking away until we held the final result.
  results: |-
    The video was a success. By alternating between the personal and the medical, we were able to create a powerful piece that spoke to the challenges of diabetes and diabetes research, all while shining a light on the faces working toward a cure.

    To this day, AdventHealth is one of our longest-lasting partners, and we continue to work with them whenever they need video.
---
{% import "macros/ui.njk" as ui %}
<section class="text-white mb-28">
  <div class="text-left mt-48">
    <h2 class="lg:text-4xl font-display leading-[.95] mb-28 text-center heading-underline">
      More of Our Work
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mb-28">
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/138095163" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/assets/img/florida-hospital.webp); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-6 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">Florida Hospital For Children - Dasah’s Day</h2><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/191069479" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/assets/img/florida-hospital-ortho.webp); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-6 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">Florida Hospital Orthopedics</h2><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/93506708" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/assets/img/brain-divided.webp); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-6 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">A Brain Divided - Joscelyn Dempsey</h2><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
    </div>
  </div>
</section>
