---
layout: "layouts/base.njk"
permalink: "/work/adventhealth/"
title: "AdventHealth | Studio Say So"
description: "AdventHealth\u2019s Research Institute needed a video to showcase the world-changing diabetes research they were conducting while appealing to partners and volunteers. See how we did it!"
canonical: "https://studiosayso.com/work/adventhealth/"
robots: "follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
bodyClass: "wp-singular page-template page-template-template-pages page-template-page-case-study-detail page-template-template-pagespage-case-study-detail-php page page-id-1108 page-child parent-pageid-10 wp-theme-studio-say-so"
ogTags: |
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="AdventHealth | Studio Say So" />
  <meta property="og:description" content="AdventHealth’s Research Institute needed a video to showcase the world-changing diabetes research they were conducting while appealing to partners and volunteers. See how we did it!" />
  <meta property="og:url" content="https://studiosayso.com/work/adventhealth/" />
  <meta property="og:site_name" content="Studio Say So" />
  <meta property="og:updated_time" content="2023-03-27T21:42:14-04:00" />
  <meta property="og:image" content="/wp-content/uploads/2023/02/adventhealth.png" />
  <meta property="og:image:secure_url" content="/wp-content/uploads/2023/02/adventhealth.png" />
  <meta property="og:image:width" content="612" />
  <meta property="og:image:height" content="338" />
  <meta property="og:image:alt" content="AdventHealth Healthcare Video Production" />
  <meta property="og:image:type" content="image/png" />
twitterTags: |
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="AdventHealth | Studio Say So" />
  <meta name="twitter:description" content="AdventHealth’s Research Institute needed a video to showcase the world-changing diabetes research they were conducting while appealing to partners and volunteers. See how we did it!" />
  <meta name="twitter:image" content="/wp-content/uploads/2023/02/adventhealth.png" />
  <meta name="twitter:label1" content="Time to read" />
  <meta name="twitter:data1" content="Less than a minute" />
jsonld: |
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Place",
        "@id": "https://studiosayso.com/#place",
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "28.5529579",
          "longitude": "-81.3802166"
        },
        "hasMap": "https://www.google.com/maps/search/?api=1&amp;query=28.5529579,-81.3802166",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "62 West Colonial Dr. Suite 305",
          "addressLocality": "Orlando",
          "addressRegion": "FL",
          "postalCode": "32801",
          "addressCountry": "USA"
        }
      },
      {
        "@type": [
          "Organization",
          "ProfessionalService"
        ],
        "@id": "https://studiosayso.com/#organization",
        "name": "Studio Say So",
        "url": "https://studiosayso.com",
        "sameAs": [
          "https://www.facebook.com/studiosaysovideo/",
          "https://www.instagram.com/studiosaysovideo/",
          "https://vimeo.com/studiosayso",
          "https://www.linkedin.com/company/studio-say-so",
          "https://twitter.com/studiosayso",
          "https://clutch.co/profile/studio-say-so"
        ],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "62 West Colonial Dr. Suite 305",
          "addressLocality": "Orlando",
          "addressRegion": "FL",
          "postalCode": "32801",
          "addressCountry": "USA"
        },
        "logo": {
          "@type": "ImageObject",
          "@id": "https://studiosayso.com/#logo",
          "url": "https://studiosayso.com/wp-content/uploads/2023/02/favicon.png",
          "contentUrl": "https://studiosayso.com/wp-content/uploads/2023/02/favicon.png",
          "caption": "Studio Say So",
          "inLanguage": "en-US",
          "width": "192",
          "height": "192"
        },
        "location": {
          "@id": "https://studiosayso.com/#place"
        },
        "telephone": "+1-407-839-6452",
        "areaServed": [
          {
            "@type": "City",
            "name": "Orlando"
          },
          {
            "@type": "State",
            "name": "Florida"
          },
          {
            "@type": "Country",
            "name": "United States"
          }
        ]
      },
      {
        "@type": "WebSite",
        "@id": "https://studiosayso.com/#website",
        "url": "https://studiosayso.com",
        "name": "Studio Say So",
        "alternateName": "Studio Say So",
        "publisher": {
          "@id": "https://studiosayso.com/#organization"
        },
        "inLanguage": "en-US"
      },
      {
        "@type": "ImageObject",
        "@id": "https://studiosayso.com/wp-content/uploads/2023/02/adventhealth.png",
        "url": "https://studiosayso.com/wp-content/uploads/2023/02/adventhealth.png",
        "width": "612",
        "height": "338",
        "caption": "AdventHealth Healthcare Video Production",
        "inLanguage": "en-US"
      },
      {
        "@type": "BreadcrumbList",
        "@id": "https://studiosayso.com/work/adventhealth/#breadcrumb",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": "1",
            "item": {
              "@id": "https://studiosayso.com",
              "name": "Home"
            }
          },
          {
            "@type": "ListItem",
            "position": "2",
            "item": {
              "@id": "https://studiosayso.com/work/",
              "name": "Work"
            }
          },
          {
            "@type": "ListItem",
            "position": "3",
            "item": {
              "@id": "https://studiosayso.com/work/adventhealth/",
              "name": "AdventHealth"
            }
          }
        ]
      },
      {
        "@type": "WebPage",
        "@id": "https://studiosayso.com/work/adventhealth/#webpage",
        "url": "https://studiosayso.com/work/adventhealth/",
        "name": "AdventHealth | Studio Say So",
        "datePublished": "2023-02-10T16:29:55-05:00",
        "dateModified": "2023-03-27T21:42:14-04:00",
        "isPartOf": {
          "@id": "https://studiosayso.com/#website"
        },
        "primaryImageOfPage": {
          "@id": "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.jpg"
        },
        "inLanguage": "en-US",
        "breadcrumb": {
          "@id": "https://studiosayso.com/work/adventhealth/#breadcrumb"
        }
      },
      {
        "@type": "ImageObject",
        "@id": "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.jpg",
        "url": "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.jpg",
        "contentUrl": "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.jpg",
        "width": "2000",
        "height": "1017",
        "inLanguage": "en-US"
      },
      {
        "@type": "CreativeWork",
        "@id": "https://studiosayso.com/work/adventhealth/#work",
        "name": "AdventHealth | Studio Say So",
        "creator": {
          "@id": "https://studiosayso.com/#organization"
        },
        "about": {
          "@id": "https://studiosayso.com/#organization"
        },
        "datePublished": "2023-02-10T16:29:55-05:00",
        "dateModified": "2023-03-27T21:42:14-04:00",
        "description": "AdventHealth’s Research Institute needed a video to showcase the world-changing diabetes research they were conducting while appealing to partners and volunteers. See how we did it!",
        "inLanguage": "en-US",
        "isPartOf": {
          "@id": "https://studiosayso.com/work/adventhealth/#webpage"
        },
        "mainEntityOfPage": {
          "@id": "https://studiosayso.com/work/adventhealth/#webpage"
        },
        "image": {
          "@id": "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.jpg"
        }
      },
      {
        "@type": "VideoObject",
        "@id": "https://www.youtube.com/watch?v=z00RWK7ZTsc#video",
        "name": "AdventHealth Translational Research Institute",
        "description": "The mission of the AdventHealth Translational Research Institute (TRI) is to extend and improve the quality of lives through the conduct of world-class, innovative translational research that leads to discoveries – and ultimately cures – for obesity, diabetes, and cardiovascular diseases.",
        "thumbnailUrl": "https://i.ytimg.com/vi/z00RWK7ZTsc/hqdefault.jpg",
        "uploadDate": "2022-07-26T08:22:15-07:00",
        "duration": "PT2M26S",
        "embedUrl": "https://www.youtube.com/embed/z00RWK7ZTsc",
        "contentUrl": "https://www.youtube.com/watch?v=z00RWK7ZTsc",
        "publisher": {
          "@id": "https://studiosayso.com/#organization"
        },
        "creator": {
          "@id": "https://studiosayso.com/#organization"
        },
        "inLanguage": "en-US"
      }
    ]
  }
lastmod: "2023-03-27T21:42:14-04:00"
---
{% import "macros/ui.njk" as ui %}
<section
        class="w-screen h-screen flex flex-col items-center justify-center text-white relative main-carousel"
        style="background-image: url(/wp-content/uploads/2023/02/adventhealth.png); background-position: center; background-size: cover;">
  <h1 class="text-5xl lg:text-6xl font-bold font-display leading-[.95] max-w-[21ch] mb-3 index-slider">
    AdventHealth
  </h1>
  <h2 class="max-w-[21ch] mb-10">
    Case Study
  </h2>
  <a href="https://www.youtube.com/watch?v=z00RWK7ZTsc&t=2s" class=" block opacity-100 transition duration-500 w-[56px] h-[56px]" rel="lightbox">{{ ui.scrollCue() }}</a><a href="#case-study" class="absolute bottom-12 right-1/2 block opacity-100 transition translate-x-1/2 animate-bounce duration-700">{{ ui.arrowDown() }} </a>
</section>
<section id="case-study" class="flex flex-col items-center justify-center pt-16 relative my-16">
  <div class="custom-container flex flex-col items-center justify-center ">
    <h2 class="text-white text-[28px]">
      Case Study
    </h2>
    <h2 class="heading-underline text-white font-display text-5xl max-w-[21ch] mb-6 text-center">
      AdventHealth
    </h2>
    <div class="text-colorText-body max-w-[84ch] whitespace-pre-line text-center">AdventHealth is a large healthcare company operating in 9 states through a vast network of caring hospitals and doctors.</div>
    <div class="text-colorText-body text-center mt-16 flex flex-col gap-0 [&_strong]:text-white">
      <p>
        <strong>Video Type:</strong> Ad <strong>Production Company:</strong> Studio Say So <strong>Services:</strong> Creative, Full Production
        <br />
        <strong>Director:</strong> Marshall Head <strong> Producer:</strong> Mackenzie Wiler <strong>Editor:</strong> Audri Tearpak
      </p>
    </div>
  </div>
  <div class="w-[206px] lg:w-[400px] -z-10 opacity-0.5 absolute right-0 hidden lg:block translate-x-1/2 -translate-y-1/2 top-[60%]">
    {{ ui.blob() }}
  </div>
  <div class="w-[206px] lg:w-[400px] -z-10 opacity-0.5 absolute left-0 hidden lg:block -translate-x-1/2 -translate-y-1/2 top-[60%]">
    {{ ui.blob() }}
  </div>
</section>
<section class="custom-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20 mt-32 mb-28">
  <div>
    <h2 class="heading-underline text-white font-display text-4xl max-w-[21ch] mb-6">
      The Challenge
    </h2>
    <div class="text-colorText-body max-w-[80ch] whitespace-pre-line">AdventHealth’s Research Institute needed a video to showcase the world-changing diabetes research they were conducting while appealing to partners and volunteers. In turn, we needed to capture the full story of their extensive and complex research in a way that was accessible. </div>
  </div>
  <div>
    <h2 class="heading-underline text-white font-display text-4xl max-w-[21ch] mb-6">
      Our Process
    </h2>
    <div class="text-colorText-body max-w-[80ch] whitespace-pre-line">We wanted the video to feel approachable from all angles, so we minimized medical jargon and kept our approach honest and human by showing all the meaningful faces behind diabetes—patients, caregivers, doctors, researchers, and scientists. We filmed over several days to capture exciting footage throughout the organization. Then we set to editing and hacking away until we held the final result.</div>
  </div>
  <div>
    <h2 class="heading-underline text-white font-display text-4xl max-w-[21ch] mb-6">
      The Results
    </h2>
    <div class="text-colorText-body max-w-[80ch] whitespace-pre-line">The video was a success. By alternating between the personal and the medical, we were able to create a powerful piece that spoke to the challenges of diabetes and diabetes research, all while shining a light on the faces working toward a cure.

To this day, AdventHealth is one of our longest-lasting partners, and we continue to work with them whenever they need video.</div>
  </div>
</section>
<section class="text-white mb-28">
  <div class="text-left mt-48">
    <h2 class="lg:text-4xl font-display leading-[.95] mb-28 text-center heading-underline">
      More of Our Work
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mb-28">
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/138095163" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/wp-content/uploads/2023/01/florida-hospital.jpg); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-3 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">Florida Hospital For Children - Dasah’s Day</h2><p class="max-w-[32ch]"></p><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/191069479" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/wp-content/uploads/2023/01/florida-hospital-ortho.jpg); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-3 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">Florida Hospital Orthopedics</h2><p class="max-w-[32ch]"></p><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/93506708" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/wp-content/uploads/2023/01/brain-divided.jpg); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-3 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">A Brain Divided - Joscelyn Dempsey</h2><p class="max-w-[32ch]"></p><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
    </div>
  </div>
</section>
<section class="custom-container">
  <div class="flex flex-col items-center gap-8 relative border-colorAccent-border py-12 my-12 ">
    <h2 class="text-white text-4xl font-display max-w-[26ch] text-center">
      Discuss Your Project With Us
    </h2>
    <div class="link-group">
      <a class=" px-5 py-4 bg-colorAccent-700 uppercase font-bold text-white flex gap-4 items-center w-fit hover:shadow hover:translate-x-1 transition duration-200 button" href="/contact-us/"><span>Let's Talk</span>{{ ui.arrow() }}</a>
    </div>
  </div>
</section>
<section class="custom-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:divide-x lg:gap-4">
  <div class="border-colorAccent-border md:px-8 lg:px-16 text-white mb-28">
    <div
                            class="aspect-[250_/_160] border border-colorAccent-border mb-8"
                            style="background-image: url(/wp-content/uploads/2023/02/shop-disney-01.png); background-position: center; background-size: cover;">
    </div>
    <h3 class="font-display text-[22px] mb-3">
      321 The Agency | shopDisney
    </h3>
    <a class="font-display text-white flex gap-4 items-center w-fit hover:translate-x-1 transition duration-200 button" href="/work/321-the-agency-shopdisney/"><span>See Case Study</span>{{ ui.arrow() }} </a>
  </div>
  <div class="border-colorAccent-border md:px-8 lg:px-16 text-white mb-28">
    <div
                            class="aspect-[250_/_160] border border-colorAccent-border mb-8"
                            style="background-image: url(/wp-content/uploads/2023/02/rollins.png); background-position: center; background-size: cover;">
    </div>
    <h3 class="font-display text-[22px] mb-3">
      Rollins College
    </h3>
    <a class="font-display text-white flex gap-4 items-center w-fit hover:translate-x-1 transition duration-200 button" href="/work/rollins-college/"><span>See Case Study</span>{{ ui.arrow() }} </a>
  </div>
  <div class="border-colorAccent-border md:px-8 lg:px-16 text-white mb-28">
    <div
                            class="aspect-[250_/_160] border border-colorAccent-border mb-8"
                            style="background-image: url(/wp-content/uploads/2023/02/campbellsville-01.png); background-position: center; background-size: cover;">
    </div>
    <h3 class="font-display text-[22px] mb-3">
      Wiley Campbellsville
    </h3>
    <a class="font-display text-white flex gap-4 items-center w-fit hover:translate-x-1 transition duration-200 button" href="/work/wiley-campbellsville/"><span>See Case Study</span>{{ ui.arrow() }} </a>
  </div>
</section>
