---
layout: layouts/film.njk
permalink: /work/go-for-less/
title: Go For Less TV Campaign
description: "A six-spot TV campaign made by Studio Say So for Seminole State College, built to make every second of a limited budget count. Education video production in Orlando, Florida."
canonical: https://studiosayso.com/work/go-for-less/
robots: follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large
schema:
  type: WebPage
  datePublished: '2016-04-11'
  dateModified: '2026-09-16T10:00:00-04:00'
  image:
    url: https://studiosayso.com/assets/img/go-for-less.meta.jpg
    width: 1280
    height: 720
    caption: A still from Go For Less
  breadcrumb:
    - name: Work
      url: https://studiosayso.com/work/
    - name: Go For Less TV Campaign
      url: https://studiosayso.com/work/go-for-less/
  work: true
  video:
    name: Go For Less
    description: A fifteen-second spot from the Go For Less TV campaign, produced for Seminole State College.
    thumbnailUrl: https://studiosayso.com/assets/img/go-for-less.meta.jpg
    uploadDate: '2016-04-11T14:29:38Z'
    duration: PT15S
    embedUrl: https://player.vimeo.com/video/162415511?h=7c76bb6497
    contentUrl: https://vimeo.com/162415511/7c76bb6497
film:
  client: Seminole State College
  year: 2016
  runtime: 15 sec
  sector: Education
  sectorUrl: /industries/education/
  heroImage: /assets/img/go-for-less.webp
  video: https://vimeo.com/162415511/7c76bb6497
  summary: >-
    A limited budget means every second has to work. We built a series of short, direct spots carrying Seminole State's message, high-quality education that's actually affordable, to regional audiences. Over a few years, we produced six spots with a small team on compact schedules, each targeting a specific demographic or program. This fifteen-second spot is one of them.
---
