---
layout: "layouts/base.njk"
permalink: "/work/rollins-college/"
title: "Rollins College | Studio Say So"
description: "Ranked the #1 Regional University in the south, Rollins College is a private college in Winter Park, Florida, that needed a video to serve as the creative anchor for Brighter Together\u2014their largest fundraising campaign in over 135 years."
canonical: "https://studiosayso.com/work/rollins-college/"
ogType: "article"
readingTime: "Less than a minute"
robots: "follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
bodyClass: "wp-singular page-template page-template-template-pages page-template-page-case-study-detail page-template-template-pagespage-case-study-detail-php page page-id-114 page-child parent-pageid-10 wp-theme-studio-say-so"
schema:
  type: "WebPage"
  datePublished: "2022-12-21T16:02:03-05:00"
  dateModified: "2023-03-27T21:43:04-04:00"
  image:
    url: "https://studiosayso.com/wp-content/uploads/2023/02/rollins.meta.jpg"
    width: 727
    height: 410
    caption: "Rollins College"
  breadcrumb:
    - name: "Work"
      url: "https://studiosayso.com/work/"
    - name: "Rollins College"
      url: "https://studiosayso.com/work/rollins-college/"
  work: true
  video:
    name: "We Are Brighter Together"
    description: "At Rollins, we’ve always been powered by relationships. Our history, our mission, and our vision for a more brilliant future are all built on the knowledge that we can achieve anything when we work together. Discover what’s in store for your college’s future, and then please consider how you can join us in making Rollins brighter together for generations to come -- https://www.rollins.edu/brightertogether “The Dreamer” licensed via Music Vine: TMBC4NE1RPBSWGZW"
    thumbnailUrl: "https://i.ytimg.com/vi/AU7Kb1nqnA4/hqdefault.jpg"
    uploadDate: "2021-10-27T10:34:48-07:00"
    duration: "PT1M52S"
    embedUrl: "https://www.youtube.com/embed/AU7Kb1nqnA4"
    contentUrl: "https://www.youtube.com/watch?v=AU7Kb1nqnA4"
---
{% import "macros/ui.njk" as ui %}
<section
        class="w-screen h-screen flex flex-col items-center justify-center text-white relative main-carousel"
        style="background-image: url(/wp-content/uploads/2023/02/rollins.webp); background-position: center; background-size: cover;">
  <h1 class="text-5xl lg:text-6xl font-bold font-display leading-[.95] max-w-[21ch] mb-3 index-slider">
    Rollins College
  </h1>
  <h2 class="max-w-[21ch] mb-10">
    Brighter Together
  </h2>
  <a href="https://www.youtube.com/watch?v=AU7Kb1nqnA4" class=" block opacity-100 transition duration-500 w-[56px] h-[56px]" rel="lightbox">{{ ui.scrollCue() }}</a><a href="#case-study" class="absolute bottom-12 right-1/2 block opacity-100 transition translate-x-1/2 animate-bounce duration-700">{{ ui.arrowDown() }} </a>
</section>
<section id="case-study" class="flex flex-col items-center justify-center pt-16 relative my-16">
  <div class="custom-container flex flex-col items-center justify-center ">
    <h2 class="text-white text-[28px]">
      Case Study
    </h2>
    <h2 class="heading-underline text-white font-display text-5xl max-w-[21ch] mb-6 text-center">
      Rollins College
    </h2>
    <div class="text-colorText-body max-w-[84ch] whitespace-pre-line text-center">Ranked the #1 Regional University in the south, Rollins College is a private college in Winter Park, Florida, that needed a video to serve as the creative anchor for Brighter Together—their largest fundraising campaign in over 135 years.</div>
    <div class="text-colorText-body text-center mt-16 flex flex-col gap-0 [&_strong]:text-white">
      <p>
        <strong>Video Type:</strong> Fundraising Campaign Production <strong>Company:</strong> Studio Say So <strong>Services:</strong> Creative, Full Production
        <br />
        <strong>Director:</strong> Marshall Head <strong>Producers:</strong> Danny Miller &amp; Mackenzie Wiler <strong>Cinematographer:</strong> Marshall Head <strong>Editor:</strong> Audri Tearpak
      </p>
    </div>
  </div>
  <div class="w-[206px] lg:w-[400px] -z-10 opacity-0.5 absolute right-0 hidden lg:block translate-x-1/2 -translate-y-1/2 top-[60%]">
    {{ ui.blob() }}
  </div>
  <div class="w-[206px] lg:w-[400px] -z-10 opacity-0.5 absolute left-0 hidden lg:block -translate-x-1/2 -translate-y-1/2 top-[60%]">
    {{ ui.blob() }}
  </div>
</section>
<section class="custom-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20 mt-32 mb-28">
  <div>
    <h2 class="heading-underline text-white font-display text-4xl max-w-[21ch] mb-6">
      The Challenge
    </h2>
    <div class="text-colorText-body max-w-[80ch] whitespace-pre-line">With a mere 2-month turnaround time, Rollins needed a centerpiece video that could help launch, build momentum for, and anchor their 2021 Brighter Together Fundraising Campaign. The goal was to create a video that would wow and excite recent and established donors and alums to reach Rollins’ fundraising goal of $275 million.
</div>
  </div>
  <div>
    <h2 class="heading-underline text-white font-display text-4xl max-w-[21ch] mb-6">
      Our Process
    </h2>
    <div class="text-colorText-body max-w-[80ch] whitespace-pre-line">Thanks to our long relationship with Rollins, we quickly pinpointed their needs, desires, and voice. From there, they gave us the autonomy to move fast. With their team helping make possible the shooting opportunities we requested, we were able to move quickly, provide frequent updates, and produce a compelling piece on time. </div>
  </div>
  <div>
    <h2 class="heading-underline text-white font-display text-4xl max-w-[21ch] mb-6">
      The Results
    </h2>
    <div class="text-colorText-body max-w-[80ch] whitespace-pre-line">With the video at its core, the campaign was a success, and Rollins exceeded their historic fundraising goal. The video also helped attract many new patrons and encouraged past ones to form a deeper connection to Rollins, including an ongoing investment in its future. 

Today, we continue to partner with Rollins College, and they continue to leverage the footage from this project in other marketing materials to support their enrollment and fundraising goals. 
</div>
  </div>
</section>
<section class="custom-container mb-28">
  <div class="bg-colorAccent-700 text-white text-center mx-auto py-16">
    <div class="max-w-[94ch] mx-auto">
      “Their work is obviously beautiful, but my favorite part about working with Studio Say So is that they are true partners throughout every step of the process. They not only work to understand your goals for each project, but they are also committed to really understanding your brand and your audience. They are responsive, nimble, and easy to work with, and they’ll bend over backwards to meet deadlines. Most importantly, you can tell that they truly care about what they do and the success of your partnership. The result is work that resonates.”
      <br />
      <br />
      –Luke Woodling, Assistant Vice President, Marketing, Rollins College
    </div>
  </div>
</section>
<section class="relative">
  <div class="heading-underline text-white font-display text-4xl mb-6 text-center">
    Behind The Scenes
  </div>
  <div class="mt-28 custom-container ">
    <div class="flex justify-between">
      <div class="aspect-[400_/_550] flex-[.66] border-2 border-colorAccent-border"
                         style="background-image: url(/wp-content/uploads/2023/02/rollins-2.webp); background-position: center; background-size: cover;">
      </div>
      <div class="aspect-[640_/_445] flex-[1.33] ml-8 mb-8 lg:ml-28 lg:mb-28 border-2 border-colorAccent-border"
                        style="background-image: url(/wp-content/uploads/2023/02/rollins-1.webp); background-position: center; background-size: cover;">
      </div>
    </div>
    <div class="flex justify-between">
      <div class="aspect-[640_/_445] flex-[1.33] mr-8 mt-8 lg:mr-28 lg:mt-28 border-2 border-colorAccent-border"
                        style="background-image: url(/wp-content/uploads/2023/02/rollins-3-01.webp); background-position: center; background-size: cover;">
      </div>
      <div class="aspect-[400_/_550] flex-[.66] border-2 border-colorAccent-border"
                         style="background-image: url(/wp-content/uploads/2023/02/rollins-4.webp); background-position: center; background-size: cover;">
      </div>
    </div>
  </div>
  <div class="w-[310px] lg:w-[400px] -z-10 opacity-0.5 absolute left-20 hidden lg:block -translate-x-1/2  -bottom-48">
    {{ ui.blob() }}
  </div>
  <div class="w-[310px] lg:w-[400px] -z-10 opacity-0.5 absolute right-20 hidden lg:block translate-x-1/2  -bottom-72">
    {{ ui.blob() }}
  </div>
</section>
<section class="custom-container">
  <div class="flex flex-col items-center gap-8 relative border-colorAccent-border py-12 my-12 ">
    <h2 class="text-white text-4xl font-display max-w-[26ch] text-center">
      Discuss Your Project With Us
    </h2>
    <div class="link-group">
      <a class=" px-5 py-4 bg-colorAccent-700 uppercase font-bold text-white flex gap-4 items-center w-fit hover:shadow hover:translate-x-1 transition duration-200 button" href="/contact-us/"><span>Let's Talk</span>{{ ui.arrow() }}</a>
    </div>
  </div>
</section>
<section class="custom-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:divide-x lg:gap-4">
  <div class="border-colorAccent-border md:px-8 lg:px-16 text-white mb-28">
    <div
                            class="aspect-[250_/_160] border border-colorAccent-border mb-8"
                            style="background-image: url(/wp-content/uploads/2023/02/shop-disney-01.webp); background-position: center; background-size: cover;">
    </div>
    <h3 class="font-display text-[22px] mb-3">
      321 The Agency | shopDisney
    </h3>
    <a class="font-display text-white flex gap-4 items-center w-fit hover:translate-x-1 transition duration-200 button" href="/work/321-the-agency-shopdisney/"><span>See Case Study</span>{{ ui.arrow() }} </a>
  </div>
  <div class="border-colorAccent-border md:px-8 lg:px-16 text-white mb-28">
    <div
                            class="aspect-[250_/_160] border border-colorAccent-border mb-8"
                            style="background-image: url(/wp-content/uploads/2023/02/adventhealth.webp); background-position: center; background-size: cover;">
    </div>
    <h3 class="font-display text-[22px] mb-3">
      AdventHealth
    </h3>
    <a class="font-display text-white flex gap-4 items-center w-fit hover:translate-x-1 transition duration-200 button" href="/work/adventhealth/"><span>See Case Study</span>{{ ui.arrow() }} </a>
  </div>
  <div class="border-colorAccent-border md:px-8 lg:px-16 text-white mb-28">
    <div
                            class="aspect-[250_/_160] border border-colorAccent-border mb-8"
                            style="background-image: url(/wp-content/uploads/2023/02/campbellsville-01.webp); background-position: center; background-size: cover;">
    </div>
    <h3 class="font-display text-[22px] mb-3">
      Wiley Campbellsville
    </h3>
    <a class="font-display text-white flex gap-4 items-center w-fit hover:translate-x-1 transition duration-200 button" href="/work/wiley-campbellsville/"><span>See Case Study</span>{{ ui.arrow() }} </a>
  </div>
</section>
