---
layout: layouts/case-study.njk
permalink: /work/wiley-campbellsville/
title: Wiley Campbellsville
description: "How Studio Say So helped Wiley and Campbellsville University show adult learners a realistic path back to school and on to a better career."
canonical: https://studiosayso.com/work/wiley-campbellsville/
robots: follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large
schema:
  type: WebPage
  datePublished: '2023-02-15T16:05:32-05:00'
  dateModified: '2023-03-27T21:43:54-04:00'
  image:
    url: https://studiosayso.com/assets/img/campbellsville-01.meta.jpg
    width: 734
    height: 412
    caption: Wiley Campbellsville Video Production
  breadcrumb:
    - name: Work
      url: https://studiosayso.com/work/
    - name: Wiley Campbellsville
      url: https://studiosayso.com/work/wiley-campbellsville/
  work: true
  video:
    name: Campbellsville University Online
    description: Campbellsville University Online
    thumbnailUrl: https://i.vimeocdn.com/video/935596353-095b81e0fd84c0252dc188a1d173beb5b7d4de30f23eec00dbd1987711165910-d_1280x720?region=us
    uploadDate: '2020-08-05T15:16:44'
    duration: PT0M30S
    embedUrl: https://player.vimeo.com/video/444993393
    contentUrl: https://vimeo.com/444993393/4030a55110
caseStudy:
  client: Wiley Education | Campbellsville University
  heroImage: /assets/img/campbellsville-01.webp
  video: https://vimeo.com/444993393/4030a55110
  summary: |-
    Wiley supports the higher education and business communities in their education and training endeavors, with the goal of helping more people achieve their career goals. 

    Campbellsville University, founded in 1906, is a widely-acclaimed private university in Campbellsville, Kentucky.
  credits: |-
    <strong>Video Type:</strong> Ad <strong>Production Company:</strong> Studio Say So <strong>Services:</strong> Creative, Full Production
            <br />
            <strong>Director:</strong> Marshall Head, Danny Miller <strong> Producer:</strong> Mackenzie Wiler <strong>Cinematographer:</strong> <span style="font-weight: 400;">Erik Van Lenten </span><strong>Editor:</strong> Audri Tearpak
  challenge: Campbellsville needed to promote their expanded online education offerings, so Wiley asked us to create spots that would relate to the challenges of returning to school in a busy world—with kids, jobs, and a whole life to live. Our goal was to shed a positive light on what it’s like to lead an already busy life and add school to the mix. We had to show Campbellsville as a path to something bigger and greater.
  process: Although Campbellsville University is based in Kentucky, we created video concepts centered around a student's home and work life that were shootable in Central Florida. With the Wiley team as a collaborative partner, we shot at three homes, two restaurants, and an office. Ultimately, we filmed and edited three unique ad spots to help students connect with the online back-to-school experience.
  results: |-
    The new campaign for Campbellsville University was a success. The video spots we shot performed significantly higher than Campbellsville’s prior video assets and increased brand awareness and interest in the university’s online programs.

    Today, we continue to help Wiley with projects for their college and university clients. 
  cta: Let’s discuss your project.
---
{% import "macros/ui.njk" as ui %}
<section class="custom-container mb-28">
  <div class="bg-colorAccent-700 text-white text-center mx-auto py-16">
    <div class="max-w-[94ch] mx-auto">
      "Danny, Marshall, and the rest of Studio Say So run a class act operation. Their knowledge and experience were evident from concept to shooting to the final editing stages, and every effort was made to ensure we stayed true to the original vision. Above all, they engaged with us like true collaborators, listening and ensuring that we were all in sync every step of the way. Looking forward to an opportunity to work with them again!"
      <br />
      –Wiley
    </div>
  </div>
</section>
<section class="relative">
  <div class="heading-underline text-white font-display text-4xl mb-6 text-center">
    Behind The Scenes
  </div>
  <div class="mt-28 custom-container ">
    <div class="flex justify-between">
      <div class="aspect-[400_/_550] flex-[.66] border-2 border-colorAccent-border"
                         style="background-image: url(/assets/img/IMG_9473.webp); background-position: center; background-size: cover;">
      </div>
      <div class="aspect-[640_/_445] flex-[1.33] ml-8 mb-8 lg:ml-28 lg:mb-28 border-2 border-colorAccent-border"
                        style="background-image: url(/assets/img/IMG_9449.webp); background-position: center; background-size: cover;">
      </div>
    </div>
    <div class="flex justify-between">
      <div class="aspect-[640_/_445] flex-[1.33] mr-8 mt-8 lg:mr-28 lg:mt-28 border-2 border-colorAccent-border"
                        style="background-image: url(/assets/img/campbellsville-2.webp); background-position: center; background-size: cover;">
      </div>
      <div class="aspect-[400_/_550] flex-[.66] border-2 border-colorAccent-border"
                         style="background-image: url(/assets/img/campbellsville-3.webp); background-position: center; background-size: cover;">
      </div>
    </div>
  </div>
  <div class="w-[310px] lg:w-[400px] -z-10 opacity-50 absolute left-20 hidden lg:block -translate-x-1/2  -bottom-48">
    {{ ui.blob() }}
  </div>
  <div class="w-[310px] lg:w-[400px] -z-10 opacity-50 absolute right-20 hidden lg:block translate-x-1/2  -bottom-72">
    {{ ui.blob() }}
  </div>
</section>
