---
layout: "layouts/base.njk"
permalink: "/work/wiley-campbellsville/"
title: "Wiley Campbellsville | Studio Say So"
description: "Wiley supports the higher education and business communities in their education and training endeavors, with the goal of helping more people achieve their career goals. See how we didi it!"
canonical: "https://studiosayso.com/work/wiley-campbellsville/"
robots: "follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
bodyClass: "wp-singular page-template page-template-template-pages page-template-page-case-study-detail page-template-template-pagespage-case-study-detail-php page page-id-1118 page-child parent-pageid-10 wp-theme-studio-say-so"
ogTags: |
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Wiley Campbellsville | Studio Say So" />
  <meta property="og:description" content="Wiley supports the higher education and business communities in their education and training endeavors, with the goal of helping more people achieve their career goals. See how we didi it!" />
  <meta property="og:url" content="https://studiosayso.com/work/wiley-campbellsville/" />
  <meta property="og:site_name" content="Studio Say So" />
  <meta property="og:updated_time" content="2023-03-27T21:43:54-04:00" />
  <meta property="og:image" content="/wp-content/uploads/2023/02/campbellsville-01.png" />
  <meta property="og:image:secure_url" content="/wp-content/uploads/2023/02/campbellsville-01.png" />
  <meta property="og:image:width" content="734" />
  <meta property="og:image:height" content="412" />
  <meta property="og:image:alt" content="Wiley Campbellsville Video Production" />
  <meta property="og:image:type" content="image/png" />
twitterTags: |
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Wiley Campbellsville | Studio Say So" />
  <meta name="twitter:description" content="Wiley supports the higher education and business communities in their education and training endeavors, with the goal of helping more people achieve their career goals. See how we didi it!" />
  <meta name="twitter:image" content="/wp-content/uploads/2023/02/campbellsville-01.png" />
  <meta name="twitter:label1" content="Time to read" />
  <meta name="twitter:data1" content="Less than a minute" />
jsonld: |
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Place",
        "@id": "https://studiosayso.com/#place",
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "28.5529579",
          "longitude": "-81.3802166"
        },
        "hasMap": "https://www.google.com/maps/search/?api=1&amp;query=28.5529579,-81.3802166",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "62 West Colonial Dr. Suite 305",
          "addressLocality": "Orlando",
          "addressRegion": "FL",
          "postalCode": "32801",
          "addressCountry": "USA"
        }
      },
      {
        "@type": [
          "Organization",
          "ProfessionalService"
        ],
        "@id": "https://studiosayso.com/#organization",
        "name": "Studio Say So",
        "url": "https://studiosayso.com",
        "sameAs": [
          "https://www.facebook.com/studiosaysovideo/",
          "https://www.instagram.com/studiosaysovideo/",
          "https://vimeo.com/studiosayso",
          "https://www.linkedin.com/company/studio-say-so",
          "https://twitter.com/studiosayso",
          "https://clutch.co/profile/studio-say-so"
        ],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "62 West Colonial Dr. Suite 305",
          "addressLocality": "Orlando",
          "addressRegion": "FL",
          "postalCode": "32801",
          "addressCountry": "USA"
        },
        "logo": {
          "@type": "ImageObject",
          "@id": "https://studiosayso.com/#logo",
          "url": "https://studiosayso.com/wp-content/uploads/2023/02/favicon.png",
          "contentUrl": "https://studiosayso.com/wp-content/uploads/2023/02/favicon.png",
          "caption": "Studio Say So",
          "inLanguage": "en-US",
          "width": "192",
          "height": "192"
        },
        "location": {
          "@id": "https://studiosayso.com/#place"
        },
        "telephone": "+1-407-839-6452",
        "areaServed": [
          {
            "@type": "City",
            "name": "Orlando"
          },
          {
            "@type": "State",
            "name": "Florida"
          },
          {
            "@type": "Country",
            "name": "United States"
          }
        ]
      },
      {
        "@type": "WebSite",
        "@id": "https://studiosayso.com/#website",
        "url": "https://studiosayso.com",
        "name": "Studio Say So",
        "alternateName": "Studio Say So",
        "publisher": {
          "@id": "https://studiosayso.com/#organization"
        },
        "inLanguage": "en-US"
      },
      {
        "@type": "ImageObject",
        "@id": "https://studiosayso.com/wp-content/uploads/2023/02/campbellsville-01.png",
        "url": "https://studiosayso.com/wp-content/uploads/2023/02/campbellsville-01.png",
        "width": "734",
        "height": "412",
        "caption": "Wiley Campbellsville Video Production",
        "inLanguage": "en-US"
      },
      {
        "@type": "BreadcrumbList",
        "@id": "https://studiosayso.com/work/wiley-campbellsville/#breadcrumb",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": "1",
            "item": {
              "@id": "https://studiosayso.com",
              "name": "Home"
            }
          },
          {
            "@type": "ListItem",
            "position": "2",
            "item": {
              "@id": "https://studiosayso.com/work/",
              "name": "Work"
            }
          },
          {
            "@type": "ListItem",
            "position": "3",
            "item": {
              "@id": "https://studiosayso.com/work/wiley-campbellsville/",
              "name": "Wiley Campbellsville"
            }
          }
        ]
      },
      {
        "@type": "WebPage",
        "@id": "https://studiosayso.com/work/wiley-campbellsville/#webpage",
        "url": "https://studiosayso.com/work/wiley-campbellsville/",
        "name": "Wiley Campbellsville | Studio Say So",
        "datePublished": "2023-02-15T16:05:32-05:00",
        "dateModified": "2023-03-27T21:43:54-04:00",
        "isPartOf": {
          "@id": "https://studiosayso.com/#website"
        },
        "primaryImageOfPage": {
          "@id": "https://studiosayso.com/wp-content/uploads/2023/02/IMG_9473.jpg"
        },
        "inLanguage": "en-US",
        "breadcrumb": {
          "@id": "https://studiosayso.com/work/wiley-campbellsville/#breadcrumb"
        }
      },
      {
        "@type": "ImageObject",
        "@id": "https://studiosayso.com/wp-content/uploads/2023/02/IMG_9473.jpg",
        "url": "https://studiosayso.com/wp-content/uploads/2023/02/IMG_9473.jpg",
        "contentUrl": "https://studiosayso.com/wp-content/uploads/2023/02/IMG_9473.jpg",
        "width": "1920",
        "height": "1080",
        "inLanguage": "en-US"
      },
      {
        "@type": "CreativeWork",
        "@id": "https://studiosayso.com/work/wiley-campbellsville/#work",
        "name": "Wiley Campbellsville | Studio Say So",
        "creator": {
          "@id": "https://studiosayso.com/#organization"
        },
        "about": {
          "@id": "https://studiosayso.com/#organization"
        },
        "datePublished": "2023-02-15T16:05:32-05:00",
        "dateModified": "2023-03-27T21:43:54-04:00",
        "description": "Wiley supports the higher education and business communities in their education and training endeavors, with the goal of helping more people achieve their career goals. See how we didi it!",
        "inLanguage": "en-US",
        "isPartOf": {
          "@id": "https://studiosayso.com/work/wiley-campbellsville/#webpage"
        },
        "mainEntityOfPage": {
          "@id": "https://studiosayso.com/work/wiley-campbellsville/#webpage"
        },
        "image": {
          "@id": "https://studiosayso.com/wp-content/uploads/2023/02/IMG_9473.jpg"
        }
      },
      {
        "@type": "VideoObject",
        "@id": "https://vimeo.com/444993393/4030a55110#video",
        "name": "Campbellsville University Online",
        "description": "Campbellsville University Online",
        "thumbnailUrl": "https://i.vimeocdn.com/video/935596353-095b81e0fd84c0252dc188a1d173beb5b7d4de30f23eec00dbd1987711165910-d_295x166?region=us",
        "uploadDate": "2020-08-05T15:16:44",
        "duration": "PT0M30S",
        "embedUrl": "https://player.vimeo.com/video/444993393",
        "contentUrl": "https://vimeo.com/444993393/4030a55110",
        "publisher": {
          "@id": "https://studiosayso.com/#organization"
        },
        "creator": {
          "@id": "https://studiosayso.com/#organization"
        },
        "inLanguage": "en-US"
      }
    ]
  }
lastmod: "2023-03-27T21:43:54-04:00"
---
{% import "macros/ui.njk" as ui %}
<section
        class="w-screen h-screen flex flex-col items-center justify-center text-white relative main-carousel"
        style="background-image: url(/wp-content/uploads/2023/02/campbellsville-01.png); background-position: center; background-size: cover;">
  <h1 class="text-5xl lg:text-6xl font-bold font-display leading-[.95] max-w-[21ch] mb-3 index-slider">
    Wiley Education | Campbellsville University
  </h1>
  <h2 class="max-w-[21ch] mb-10">
    Case Study
  </h2>
  <a href="https://vimeo.com/444993393/4030a55110" class=" block opacity-100 transition duration-500 w-[56px] h-[56px]" rel="lightbox">{{ ui.scrollCue() }}</a><a href="#case-study" class="absolute bottom-12 right-1/2 block opacity-100 transition translate-x-1/2 animate-bounce duration-700">{{ ui.arrowDown() }} </a>
</section>
<section id="case-study" class="flex flex-col items-center justify-center pt-16 relative my-16">
  <div class="custom-container flex flex-col items-center justify-center ">
    <h2 class="text-white text-[28px]">
      Case Study
    </h2>
    <h2 class="heading-underline text-white font-display text-5xl max-w-[21ch] mb-6 text-center">
      Wiley Education | Campbellsville University
    </h2>
    <div class="text-colorText-body max-w-[84ch] whitespace-pre-line text-center">Wiley supports the higher education and business communities in their education and training endeavors, with the goal of helping more people achieve their career goals. 

Campbellsville University, founded in 1906, is a widely-acclaimed private university in Campbellsville, Kentucky.</div>
    <div class="text-colorText-body text-center mt-16 flex flex-col gap-0 [&_strong]:text-white">
      <p>
        <strong>Video Type:</strong> Ad <strong>Production Company:</strong> Studio Say So <strong>Services:</strong> Creative, Full Production
        <br />
        <strong>Director:</strong> Marshall Head, Danny Miller <strong> Producer:</strong> Mackenzie Wiler <strong>Cinematographer:</strong> <span style="font-weight: 400;">Erik Van Lenten </span><strong>Editor:</strong> Audri Tearpak
      </p>
    </div>
  </div>
  <div class="w-[206px] lg:w-[400px] -z-10 opacity-0.5 absolute right-0 hidden lg:block translate-x-1/2 -translate-y-1/2 top-[60%]">
    {{ ui.blob() }}
  </div>
  <div class="w-[206px] lg:w-[400px] -z-10 opacity-0.5 absolute left-0 hidden lg:block -translate-x-1/2 -translate-y-1/2 top-[60%]">
    {{ ui.blob() }}
  </div>
</section>
<section class="custom-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20 mt-32 mb-28">
  <div>
    <h2 class="heading-underline text-white font-display text-4xl max-w-[21ch] mb-6">
      The Challenge
    </h2>
    <div class="text-colorText-body max-w-[80ch] whitespace-pre-line">Campbellsville needed to promote their expanded online education offerings, so Wiley asked us to create spots that would relate to the challenges of returning to school in a busy world—with kids, jobs, and a whole life to live. Our goal was to shed a positive light on what it’s like to lead an already busy life and add school to the mix. We had to show Campbellsville as a path to something bigger and greater.</div>
  </div>
  <div>
    <h2 class="heading-underline text-white font-display text-4xl max-w-[21ch] mb-6">
      Our Process
    </h2>
    <div class="text-colorText-body max-w-[80ch] whitespace-pre-line">Although Campbellsville University is based in Kentucky, we created video concepts centered around a student's home and work life that were shootable in Central Florida. With the Wiley team as a collaborative partner, we shot at three homes, two restaurants, and an office. Ultimately, we filmed and edited three unique ad spots to help students connect with the online back-to-school experience.</div>
  </div>
  <div>
    <h2 class="heading-underline text-white font-display text-4xl max-w-[21ch] mb-6">
      The Results
    </h2>
    <div class="text-colorText-body max-w-[80ch] whitespace-pre-line">The new campaign for Campbellsville University was a success. The video spots we shot performed significantly higher than Campbellsville’s prior video assets and increased brand awareness and interest in the university’s online programs.

Today, we continue to help Wiley with projects for their college and university clients. </div>
  </div>
</section>
<section class="custom-container mb-28">
  <div class="bg-colorAccent-700 text-white text-center mx-auto py-16">
    <div class="max-w-[94ch] mx-auto">
      "Danny, Marshall, and the rest of Studio Say So run a class act operation. Their knowledge and experience were evident from concept to shooting to the final editing stages, and every effort was made to ensure we stayed true to the original vision. Above all, they engaged with us like true collaborators, listening and ensuring that we were all in sync every step of the way. Looking forward to an opportunity to work with them again!"
      <br />
      –Wiley
    </div>
  </div>
</section>
<section class="relative">
  <div class="heading-underline text-white font-display text-4xl mb-6 text-center">
    Behind The Scenes
  </div>
  <div class="mt-28 custom-container ">
    <div class="flex justify-between">
      <div class="aspect-[400_/_550] flex-[.66] border-2 border-colorAccent-border"
                         style="background-image: url(/wp-content/uploads/2023/02/IMG_9473.jpg); background-position: center; background-size: cover;">
      </div>
      <div class="aspect-[640_/_445] flex-[1.33] ml-8 mb-8 lg:ml-28 lg:mb-28 border-2 border-colorAccent-border"
                        style="background-image: url(/wp-content/uploads/2023/02/IMG_9449.png); background-position: center; background-size: cover;">
      </div>
    </div>
    <div class="flex justify-between">
      <div class="aspect-[640_/_445] flex-[1.33] mr-8 mt-8 lg:mr-28 lg:mt-28 border-2 border-colorAccent-border"
                        style="background-image: url(/wp-content/uploads/2023/02/campbellsville-2.png); background-position: center; background-size: cover;">
      </div>
      <div class="aspect-[400_/_550] flex-[.66] border-2 border-colorAccent-border"
                         style="background-image: url(/wp-content/uploads/2023/02/campbellsville-3.png); background-position: center; background-size: cover;">
      </div>
    </div>
  </div>
  <div class="w-[310px] lg:w-[400px] -z-10 opacity-0.5 absolute left-20 hidden lg:block -translate-x-1/2  -bottom-48">
    {{ ui.blob() }}
  </div>
  <div class="w-[310px] lg:w-[400px] -z-10 opacity-0.5 absolute right-20 hidden lg:block translate-x-1/2  -bottom-72">
    {{ ui.blob() }}
  </div>
</section>
<section id="" class="custom-container">
  <div class="flex flex-col items-center gap-8 relative border-colorAccent-border py-12 my-12 ">
    <h2 class="text-white text-4xl font-display max-w-[26ch] text-center">
      Let’s discuss your project.
    </h2>
    <div class="link-group">
      <a class=" px-5 py-4 bg-colorAccent-700 uppercase font-bold text-white flex gap-4 items-center w-fit hover:shadow hover:translate-x-1 transition duration-200 button" href="/contact-us/"><span>Let's Talk</span>{{ ui.arrow() }}</a>
    </div>
  </div>
</section>
<section class="custom-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:divide-x lg:gap-4">
  <div class="border-colorAccent-border md:px-8 lg:px-16 text-white mb-28">
    <div
                            class="aspect-[250_/_160] border border-colorAccent-border mb-8"
                            style="background-image: url(/wp-content/uploads/2023/02/shop-disney-01.png); background-position: center; background-size: cover;">
    </div>
    <h3 class="font-display text-[22px] mb-3">
      321 The Agency | shopDisney
    </h3>
    <a class="font-display text-white flex gap-4 items-center w-fit hover:translate-x-1 transition duration-200 button" href="/work/321-the-agency-shopdisney/"><span>See Case Study</span>{{ ui.arrow() }} </a>
  </div>
  <div class="border-colorAccent-border md:px-8 lg:px-16 text-white mb-28">
    <div
                            class="aspect-[250_/_160] border border-colorAccent-border mb-8"
                            style="background-image: url(/wp-content/uploads/2023/02/adventhealth.png); background-position: center; background-size: cover;">
    </div>
    <h3 class="font-display text-[22px] mb-3">
      AdventHealth
    </h3>
    <a class="font-display text-white flex gap-4 items-center w-fit hover:translate-x-1 transition duration-200 button" href="/work/adventhealth/"><span>See Case Study</span>{{ ui.arrow() }} </a>
  </div>
  <div class="border-colorAccent-border md:px-8 lg:px-16 text-white mb-28">
    <div
                            class="aspect-[250_/_160] border border-colorAccent-border mb-8"
                            style="background-image: url(/wp-content/uploads/2023/02/rollins.png); background-position: center; background-size: cover;">
    </div>
    <h3 class="font-display text-[22px] mb-3">
      Rollins College
    </h3>
    <a class="font-display text-white flex gap-4 items-center w-fit hover:translate-x-1 transition duration-200 button" href="/work/rollins-college/"><span>See Case Study</span>{{ ui.arrow() }} </a>
  </div>
</section>
