---
layout: "layouts/base.njk"
permalink: "/about-us/"
title: "About Us | Studio Say So"
description: "Our creative process is how we turn any video into an impactful story. We spent years perfecting it, making it in-depth but frictionless and flexible so it always meets your needs and never wastes time."
canonical: "https://studiosayso.com/about-us/"
robots: "follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
bodyClass: "wp-singular page-template page-template-template-pages page-template-page-studio-say-so page-template-template-pagespage-studio-say-so-php page page-id-12 wp-theme-studio-say-so"
ogTags: |
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="About Us | Studio Say So" />
  <meta property="og:description" content="Our creative process is how we turn any video into an impactful story. We spent years perfecting it, making it in-depth but frictionless and flexible so it always meets your needs and never wastes time." />
  <meta property="og:url" content="https://studiosayso.com/about-us/" />
  <meta property="og:site_name" content="Studio Say So" />
  <meta property="og:updated_time" content="2023-03-27T21:44:54-04:00" />
twitterTags: |
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="About Us | Studio Say So" />
  <meta name="twitter:description" content="Our creative process is how we turn any video into an impactful story. We spent years perfecting it, making it in-depth but frictionless and flexible so it always meets your needs and never wastes time." />
  <meta name="twitter:label1" content="Time to read" />
  <meta name="twitter:data1" content="Less than a minute" />
jsonld: |
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Place",
        "@id": "https://studiosayso.com/#place",
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "28.5529579",
          "longitude": "-81.3802166"
        },
        "hasMap": "https://www.google.com/maps/search/?api=1&amp;query=28.5529579,-81.3802166",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "62 West Colonial Dr. Suite 305",
          "addressLocality": "Orlando",
          "addressRegion": "FL",
          "postalCode": "32801",
          "addressCountry": "USA"
        }
      },
      {
        "@type": [
          "Organization",
          "ProfessionalService"
        ],
        "@id": "https://studiosayso.com/#organization",
        "name": "Studio Say So",
        "url": "https://studiosayso.com",
        "sameAs": [
          "https://www.facebook.com/studiosaysovideo/",
          "https://www.instagram.com/studiosaysovideo/",
          "https://vimeo.com/studiosayso",
          "https://www.linkedin.com/company/studio-say-so",
          "https://twitter.com/studiosayso",
          "https://clutch.co/profile/studio-say-so"
        ],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "62 West Colonial Dr. Suite 305",
          "addressLocality": "Orlando",
          "addressRegion": "FL",
          "postalCode": "32801",
          "addressCountry": "USA"
        },
        "logo": {
          "@type": "ImageObject",
          "@id": "https://studiosayso.com/#logo",
          "url": "https://studiosayso.com/wp-content/uploads/2023/02/favicon.png",
          "contentUrl": "https://studiosayso.com/wp-content/uploads/2023/02/favicon.png",
          "caption": "Studio Say So",
          "inLanguage": "en-US",
          "width": "192",
          "height": "192"
        },
        "location": {
          "@id": "https://studiosayso.com/#place"
        },
        "telephone": "+1-407-839-6452",
        "areaServed": [
          {
            "@type": "City",
            "name": "Orlando"
          },
          {
            "@type": "State",
            "name": "Florida"
          },
          {
            "@type": "Country",
            "name": "United States"
          }
        ]
      },
      {
        "@type": "WebSite",
        "@id": "https://studiosayso.com/#website",
        "url": "https://studiosayso.com",
        "name": "Studio Say So",
        "alternateName": "Studio Say So",
        "publisher": {
          "@id": "https://studiosayso.com/#organization"
        },
        "inLanguage": "en-US"
      },
      {
        "@type": "BreadcrumbList",
        "@id": "https://studiosayso.com/about-us/#breadcrumb",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": "1",
            "item": {
              "@id": "https://studiosayso.com",
              "name": "Home"
            }
          },
          {
            "@type": "ListItem",
            "position": "2",
            "item": {
              "@id": "https://studiosayso.com/about-us/",
              "name": "About Us"
            }
          }
        ]
      },
      {
        "@type": "AboutPage",
        "@id": "https://studiosayso.com/about-us/#webpage",
        "url": "https://studiosayso.com/about-us/",
        "name": "About Us | Studio Say So",
        "datePublished": "2022-12-21T15:45:00-05:00",
        "dateModified": "2023-03-27T21:44:54-04:00",
        "isPartOf": {
          "@id": "https://studiosayso.com/#website"
        },
        "primaryImageOfPage": {
          "@id": "https://studiosayso.com/wp-content/uploads/2023/02/IPCTV.jpg"
        },
        "inLanguage": "en-US",
        "breadcrumb": {
          "@id": "https://studiosayso.com/about-us/#breadcrumb"
        }
      },
      {
        "@type": "ImageObject",
        "@id": "https://studiosayso.com/wp-content/uploads/2023/02/IPCTV.jpg",
        "url": "https://studiosayso.com/wp-content/uploads/2023/02/IPCTV.jpg",
        "contentUrl": "https://studiosayso.com/wp-content/uploads/2023/02/IPCTV.jpg",
        "width": "1627",
        "height": "1113",
        "inLanguage": "en-US"
      }
    ]
  }
lastmod: "2023-03-27T21:44:54-04:00"
---
{% import "macros/ui.njk" as ui %}
<div class="studio-custom relative overflow-hidden">
  <div class="text-transparent">
    _
  </div>
  <section class="text-white px-6 md:px-12 mb-28 custom-container">
    <div class="text-left mt-48">
      <h1 class="text-5xl lg:text-6xl font-bold font-display leading-[.95] max-w-[22ch] mb-12">
        The video production agency for corporations with a story to tell.
      </h1>
      <h2 class="max-w-[21ch]">
        Even if you don’t know what your story is yet.
      </h2>
    </div>
    <div class="w-[42vw] h-[42vw] -z-10 opacity-0.5 absolute right-0 -top-12 hidden xl:block translate-x-1/2 -translate-y-1/2">
      {{ ui.blob() }}
    </div>
  </section>
  <section>
    <div class="custom-container flex justify-between items-center gap-8 lg:gap-0">
      <div class="relative -z-10 translate-y-[20%]">
        <h2 class="heading-underline text-white font-display text-4xl max-w-[16ch] mb-6">
          Confidently take video off your plate.
        </h2>
        <div class="text-colorText-body max-w-[48ch] whitespace-pre-line"><p>We’re video production experts, but we’re also problem-solvers who live to tell stories that connect with your audience and accomplish what you need them to.</p>
<p>It starts with a partnership founded on understanding your goals and burdens—learning what video can do for you. Then, we find creative ways to make it do just that and have a good time doing it.</p>
<p>The result is your campaign perfectly executed, no matter what type of video you need or how soon you need it.</p>
<p>It’s you knowing you have somewhere to turn for elevated, effective media every time.</p>
</div>
        <div class="absolute w-[170%] h-[170%] top-1/2 right-1/2 -translate-y-[52%] translate-x-[47%] -z-10">
          {{ ui.blob() }}
        </div>
      </div>
      <div class="flex-1">
        <div class="flex-1 border-2 border-colorAccent-border w-full lg:-translate-y-36 lg:translate-x-[6em] max-w-[1000px]">
          <img class="w-full" src="/wp-content/uploads/2023/02/IPCTV.jpg" alt="Studio Say So crew filming a multi-camera studio production" width="1627" height="1113" loading="eager" fetchpriority="high" decoding="async" />
        </div>
      </div>
    </div>
    <div class="w-[100vw] min-h-fit text-[27vw] leading-[.25] font-display pt-48 pb-10 lg:pb-36 xl:pb-48">
      <span class="text-colorAccent-400 h-fit block w-full -translate-x-3 lg:-translate-x-9 relative z-10">studio</span><span class="text-colorAccent-700 h-fit block w-full -translate-x-3 lg:-translate-x-9 whitespace-nowrap relative z-0">say so</span>
    </div>
  </section>
  <div  id=""  class="custom-container flex flex-col items-center justify-center my-12 pt-16">
    <h2 class="heading-underline text-white font-display text-4xl max-w-[21ch] mb-6 text-center">
      We’re with you, from discovery to distribution.
    </h2>
    <div class="text-colorText-body max-w-[80ch] whitespace-pre-line text-center"><p>Our creative process is how we turn any video into an impactful story. We spent years perfecting it, making it in-depth but frictionless and flexible so it always meets your needs and never wastes time.</p>
<p>Here’s a Taste.</p>
</div>
  </div>
  <div  id="" class="bg-colorAccent-700 py-20">
    <div class="custom-container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-14 text-white">
      <div>
        <h3 class="font-display text-[22px]">
          1. Discovery
        </h3>
        <p>
          We get close. We discuss your needs and the big-picture challenges you face.
        </p>
      </div>
      <div>
        <h3 class="font-display text-[22px]">
          2. Concepting
        </h3>
        <p>
          We retreat to brainstorm and test multiple concepts, only to reveal the best to you.
        </p>
      </div>
      <div>
        <h3 class="font-display text-[22px]">
          3. Pre-Production
        </h3>
        <p>
          Casting, locations, scripting: we prepare everything to make production seamless.
        </p>
      </div>
      <div>
        <h3 class="font-display text-[22px]">
          4. Production
        </h3>
        <p>
          We shoot your video and do a great job. With all details dealt with, it’s nothing but fun.
        </p>
      </div>
      <div>
        <h3 class="font-display text-[22px]">
          5. Post-Production
        </h3>
        <p>
          We work as a team to edit and sculpt your story to perfection before final delivery.
        </p>
      </div>
      <div>
        <h3 class="font-display text-[22px]">
          6. Partnership
        </h3>
        <p>
          We keep learning about your needs and how to meet them, from new content to media placement.
        </p>
      </div>
    </div>
  </div>
  <div  id=""  class="">
    <div class="relative custom-container py-28">
      <h2 class="heading-underline text-white font-display text-4xl max-w-[30ch] mb-6">
        Amazing video isn’t enough.
      </h2>
      <div class="text-colorText-body max-w-[52ch] whitespace-pre-line"><p>A lousy video does no good, but even a great video only works when properly distributed. For us, success is a video that helps you succeed as a company, whether that’s increasing brand awareness or reducing the time it takes to turn new hires into fully functional employees.</p>
<p>If you’re unsure how to get the most out of a video, we’ll help you get in front of your audience and track just how well it worked.</p>
</div>
      <div class="absolute w-[355px] xl:w-[855px] top-32 right-[370px] -translate-y-[50%] translate-x-[50%] -z-10 hidden">
        {{ ui.blob() }}
      </div>
    </div>
  </div>
  <div id="" class="custom-container">
    <div class="flex justify-center items-center gap-8 lg:gap-0 xl:gap-24 pb-28 border-b border-b-colorAccent-border">
      <div class="flex-1">
        <div class="flex-1 border-2 border-colorAccent-border w-full lg:-translate-x-[4em] xl:-translate-x-0 max-w-[1000px]">
          <img class="w-full" src="/wp-content/uploads/2023/02/theguys.jpg" alt="Two teenagers filming in the woods with a camcorder on a tripod, from the founders' early years" width="1200" height="826" loading="lazy" decoding="async" />
        </div>
      </div>
      <div class="relative">
        <h2 class="heading-underline text-white font-display text-4xl max-w-[14ch] mb-6">
          We’ve made videos together our whole lives.
        </h2>
        <div class="text-colorText-body max-w-[54ch] whitespace-pre-line"><p>We started making videos for fun when we were kids. Then it became our job. But the passion never left, and it’s only grown with our expertise, crew, and the size of the stories we tell.</p>
</div>
      </div>
    </div>
  </div>
  <section class="custom-container">
    <div class="flex flex-col items-center justify-center text-center py-12 my-12 border-colorAccent-border py-20 ">
      <div class="grid grid-cols-1 md:grid-cols-3 w-screen md:gap-10">
        <div class="border-2 border-colorAccent-border max-w-[1000px]">
          <img class="min-w-full" src="/wp-content/uploads/2023/02/20170307_101014.jpg" alt="Studio Say So crew filming an interview setup on location" width="480" height="360" loading="lazy" decoding="async" />
        </div>
        <div class="md:border-2 border-colorAccent-border max-w-[1000px] md:translate-y-12">
          <img class="min-w-full" src="/wp-content/uploads/2023/02/20160202_172137.jpg" alt="Studio Say So crew rigging lights on a production shoot" width="480" height="360" loading="lazy" decoding="async" />
        </div>
        <div class="border-2 border-colorAccent-border max-w-[1000px]">
          <img class="min-w-full" src="/wp-content/uploads/2023/02/marshall.jpeg" alt="Marshall Head on location behind a cinema camera" width="480" height="360" loading="lazy" decoding="async" />
        </div>
      </div>
    </div>
  </section>
  <section class="custom-container">
    <div class="flex items-center justify-center flex-col gap-10 py-12">
      <div class="text-center">
        <h2 class=" text-white font-display text-4xl max-w-[28ch] mb-6">
          Check out where we’ve been.
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 md:gap-12">
        <div class="flex flex-col items-center justify-center gap-4 px-4 py-20 lg:py-0">
          <div class="max-h-[36px] flex items-center justify-center mix-blend-luminosity">
            <img class="" src="/wp-content/uploads/2023/01/case-study-rollins.png" alt="Rollins College" width="193" height="50" loading="lazy" decoding="async" />
          </div>
          <a class="px-5 py-4 group uppercase font-bold flex gap-4 items-center w-fit hover:shadow hover:translate-x-1 transition duration-200" href="/work/rollins-college/"><span class="group-hover:text-colorAccent-400 text-white">See Work</span>{{ ui.arrowHover() }}</a>
        </div>
        <div class="flex flex-col items-center justify-center gap-4 px-4 py-20 lg:py-0">
          <div class="max-h-[36px] flex items-center justify-center mix-blend-luminosity">
            <img class="" src="/wp-content/uploads/2023/01/case-study-disney.png" alt="shopDisney" width="193" height="88" loading="lazy" decoding="async" />
          </div>
          <a class="px-5 py-4 group uppercase font-bold flex gap-4 items-center w-fit hover:shadow hover:translate-x-1 transition duration-200" href="/work/321-the-agency-shopdisney/"><span class="group-hover:text-colorAccent-400 text-white">See Work</span>{{ ui.arrowHover() }}</a>
        </div>
        <div class="flex flex-col items-center justify-center gap-4 px-4 py-20 lg:py-0">
          <div class="max-h-[36px] flex items-center justify-center mix-blend-luminosity">
            <img class="" src="/wp-content/uploads/2023/01/logos-2.svg" alt="AdventHealth" width="146" height="37" loading="lazy" decoding="async" />
          </div>
          <a class="px-5 py-4 group uppercase font-bold flex gap-4 items-center w-fit hover:shadow hover:translate-x-1 transition duration-200" href="/work/adventhealth/"><span class="group-hover:text-colorAccent-400 text-white">See Work</span>{{ ui.arrowHover() }}</a>
        </div>
      </div>
    </div>
  </section>
  <div  id="" class="custom-container relative text-center flex flex-col items-center justify-center pt-60 mt-20 pb-28 overflow-hidden">
    <div class="text-center">
      <h2 class=" text-white font-display text-4xl max-w-[28ch] mb-6">
        Be a part of where we’re going.
      </h2>
    </div>
    <div class="">
      <div class="link-group">
        <a class=" px-5 py-4 bg-colorAccent-700 uppercase font-bold text-white flex gap-4 items-center w-fit hover:shadow hover:translate-x-1 transition duration-200 button" href="/contact-us/"><span>Let's Talk</span>{{ ui.arrow() }}</a>
      </div>
    </div>
    <div class="absolute w-[900px] overflow-hidden -bottom-2 right-1/2 translate-y-[50%] translate-x-[50%] -z-10 hidden lg:block">
      {{ ui.blob() }}
    </div>
  </div>
</div>
