---
layout: "layouts/base.njk"
permalink: "/blog/"
title: "Blog | Studio Say So"
description: "Check out the Studio Say So blog."
canonical: "https://studiosayso.com/blog/"
robots: "noindex, follow"
bodyClass: "blog wp-theme-studio-say-so"
ogTags: |
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Blog | Studio Say So" />
  <meta property="og:description" content="Check out the Studio Say So blog." />
  <meta property="og:url" content="https://studiosayso.com/blog/" />
  <meta property="og:site_name" content="Studio Say So" />
twitterTags: |
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Blog | Studio Say So" />
  <meta name="twitter:description" content="Check out the Studio Say So blog." />
jsonld: |
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Place",
        "@id": "https://studiosayso.com/#place",
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "28.5529579",
          "longitude": "-81.3802166"
        },
        "hasMap": "https://www.google.com/maps/search/?api=1&amp;query=28.5529579,-81.3802166",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "62 West Colonial Dr. Suite 305",
          "addressLocality": "Orlando",
          "addressRegion": "FL",
          "postalCode": "32801",
          "addressCountry": "USA"
        }
      },
      {
        "@type": [
          "Organization",
          "ProfessionalService"
        ],
        "@id": "https://studiosayso.com/#organization",
        "name": "Studio Say So",
        "url": "https://studiosayso.com",
        "sameAs": [
          "https://www.facebook.com/studiosaysovideo/",
          "https://www.instagram.com/studiosaysovideo/",
          "https://vimeo.com/studiosayso",
          "https://www.linkedin.com/company/studio-say-so",
          "https://twitter.com/studiosayso",
          "https://clutch.co/profile/studio-say-so"
        ],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "62 West Colonial Dr. Suite 305",
          "addressLocality": "Orlando",
          "addressRegion": "FL",
          "postalCode": "32801",
          "addressCountry": "USA"
        },
        "logo": {
          "@type": "ImageObject",
          "@id": "https://studiosayso.com/#logo",
          "url": "https://studiosayso.com/wp-content/uploads/2023/02/favicon.png",
          "contentUrl": "https://studiosayso.com/wp-content/uploads/2023/02/favicon.png",
          "caption": "Studio Say So",
          "inLanguage": "en-US",
          "width": "192",
          "height": "192"
        },
        "location": {
          "@id": "https://studiosayso.com/#place"
        },
        "telephone": "+1-407-839-6452",
        "areaServed": [
          {
            "@type": "City",
            "name": "Orlando"
          },
          {
            "@type": "State",
            "name": "Florida"
          },
          {
            "@type": "Country",
            "name": "United States"
          }
        ]
      },
      {
        "@type": "WebSite",
        "@id": "https://studiosayso.com/#website",
        "url": "https://studiosayso.com",
        "name": "Studio Say So",
        "alternateName": "Studio Say So",
        "publisher": {
          "@id": "https://studiosayso.com/#organization"
        },
        "inLanguage": "en-US"
      },
      {
        "@type": "BreadcrumbList",
        "@id": "https://studiosayso.com/blog/#breadcrumb",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": "1",
            "item": {
              "@id": "https://studiosayso.com",
              "name": "Home"
            }
          }
        ]
      },
      {
        "@type": "CollectionPage",
        "@id": "https://studiosayso.com/blog/#webpage",
        "url": "https://studiosayso.com/blog/",
        "name": "Blog | Studio Say So",
        "isPartOf": {
          "@id": "https://studiosayso.com/#website"
        },
        "inLanguage": "en-US",
        "breadcrumb": {
          "@id": "https://studiosayso.com/blog/#breadcrumb"
        }
      },
      {
        "@type": "ImageObject",
        "@id": "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.jpg",
        "url": "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.jpg",
        "contentUrl": "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.jpg",
        "width": "2000",
        "height": "1017",
        "inLanguage": "en-US"
      }
    ]
  }
lastmod: "2026-08-31T15:57:09-04:00"
---
<div class="text-transparent">
  _
</div>
<div class="h-24">
</div>
<section class="mb-28">
</section>
<section class="custom-container flex items-center justify-center text-white flex-col mb-12 text-center">
  <h1 class="font-display text-2xl md:text-4xl mb-4">
    Latest Posts
  </h1>
  <nav class="flex flex-wrap items-center justify-center gap-4">
  </nav>
</section>
<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-28">
  <div class="text-white col-span-1 md:col-span-2 lg:col-span-3">
    <div class=" text-center">
      <div class="row">
        <div class="
    text-lg
    text-colorText-body
    [&_h2]:hidden
    [&_div]:flex
    [&_.prev]:font-display
    [&_.prev]:text-white
    [&_.prev]:text-sm
    [&_.current]:font-bold
    [&_.current]:text-white
    [&_.next]:font-display
    [&_.next]:text-white
    [&_.next]:text-sm
    [&_div]:justify-center
    [&_div]:items-center
    [&_div]:gap-10">
        </div>
      </div>
    </div>
  </div>
</section>
