---
layout: "layouts/base.njk"
permalink: "/blog/"
title: "Blog | Studio Say So"
description: "Check out the Studio Say So blog."
canonical: "https://studiosayso.com/blog/"
robots: "noindex, follow"
bodyClass: "blog wp-theme-studio-say-so"
schema:
  type: "CollectionPage"
  breadcrumb:
    - name: "Blog"
      url: "https://studiosayso.com/blog/"
  image:
    url: "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.meta.jpg"
    width: 2000
    height: 1017
lastmod: "2026-08-31T15:57:09-04:00"
---
<div class="text-transparent">
  _
</div>
<div class="h-24">
</div>
<section class="mb-28">
</section>
<section class="custom-container flex items-center justify-center text-white flex-col mb-12 text-center">
  <h1 class="font-display text-2xl md:text-4xl mb-4">
    Latest Posts
  </h1>
  <nav class="flex flex-wrap items-center justify-center gap-4">
  </nav>
</section>
<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-28">
  <div class="text-white col-span-1 md:col-span-2 lg:col-span-3">
    <div class=" text-center">
      <div class="row">
        <div class="
    text-lg
    text-colorText-body
    [&_h2]:hidden
    [&_div]:flex
    [&_.prev]:font-display
    [&_.prev]:text-white
    [&_.prev]:text-sm
    [&_.current]:font-bold
    [&_.current]:text-white
    [&_.next]:font-display
    [&_.next]:text-white
    [&_.next]:text-sm
    [&_div]:justify-center
    [&_div]:items-center
    [&_div]:gap-10">
        </div>
      </div>
    </div>
  </div>
</section>
