---
layout: "layouts/base.njk"
permalink: "/thankyou-page/"
title: "Thankyou Page | Studio Say So"
description: ""
canonical: "https://studiosayso.com/thankyou-page/"
robots: "noindex, follow"
bodyClass: "wp-singular page-template page-template-template-pages page-template-page-studio-dev page-template-template-pagespage-studio-dev-php page page-id-1392 wp-theme-studio-say-so"
ogTags: |
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Thankyou Page | Studio Say So" />
  <meta property="og:url" content="https://studiosayso.com/thankyou-page/" />
  <meta property="og:site_name" content="Studio Say So" />
  <meta property="og:updated_time" content="2024-05-10T08:23:31-04:00" />
twitterTags: |
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Thankyou Page | Studio Say So" />
  <meta name="twitter:label1" content="Time to read" />
  <meta name="twitter:data1" content="Less than a minute" />
schema:
  type: "WebPage"
  datePublished: "2024-05-10T03:56:26-04:00"
  dateModified: "2024-05-10T08:23:31-04:00"
  breadcrumb:
    - name: "Thankyou Page"
      url: "https://studiosayso.com/thankyou-page/"
  image:
    url: "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.meta.jpg"
    width: 2000
    height: 1017
lastmod: "2024-05-10T08:23:31-04:00"
---
{% import "macros/ui.njk" as ui %}
<section class="custom-container grid grod-cols-1 lg:grid-cols-2 gap-12 mb-32 ">
  <div class="text-white [&_h2]:text-[22px] [&_h2]:font-display [&_h2]:mb-2 [&_p]:max-w-[70ch]">
    <div class="marg-bottom">
    </div>
  </div>
</section>
<div class="w-[580px] -z-[100] opacity-0.5 absolute left-72 -bottom-80 hidden lg:block -translate-x-1/2 -translate-y-1/2">
  {{ ui.blob() }}
</div>
<div id="thnkupage-div"  class="custom-container flex flex-col items-center justify-center my-12 pt-16 ">
  <div class="text-colorText-body max-w-[80ch] whitespace-pre-line text-center"><p><img decoding="async" class="size-full wp-image-1393 aligncenter" style="text-align: center;" src="/wp-content/uploads/2024/05/thank-you-icon.webp" alt="" width="150" height="auto" loading="eager" fetchpriority="high" /></p>
<h1 class="slider-head" style="text-align: center; color: #fff;">Thanks for contacting us! We will get in touch with you shortly.</h1>
<div class="thanku-cont-info">
<div>
<h2 class="thankyou" style="text-align: center; color: #fff;">Prefer to call? You’ll find us here:</h2>
<p><a style="text-align: center; color: #fff;" href="tel:407-839-6452">407-839-6452</a>
</div>
<div>
<h2 class="thankyou" style="text-align: center; color: #fff;">Stop on by.</h2>
<p style="text-align: center; color: #fff;">62 West Colonial Dr. Suite <br />305 Orlando, FL 32801
</div>
</div>
</div>
</div>
<style>
.image-slider{background-color:#000 !important;}
</style>
