---
layout: "layouts/base.njk"
permalink: "/thankyou-page/"
title: "Thankyou Page | Studio Say So"
description: ""
canonical: "https://studiosayso.com/thankyou-page/"
robots: "noindex, follow"
bodyClass: "page-id-1392"
schema:
  type: "WebPage"
  datePublished: "2024-05-10T03:56:26-04:00"
  dateModified: "2024-05-10T08:23:31-04:00"
  breadcrumb:
    - name: "Thankyou Page"
      url: "https://studiosayso.com/thankyou-page/"
  image:
    url: "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.meta.jpg"
    width: 2000
    height: 1017
---
{% import "macros/ui.njk" as ui %}
<div class="w-[580px] -z-[100] opacity-0.5 absolute left-72 -bottom-80 hidden lg:block -translate-x-1/2 -translate-y-1/2">
  {{ ui.blob() }}
</div>
<div id="thnkupage-div" class="custom-container flex flex-col items-center justify-center my-12 pt-16 ">
  <div class="text-colorText-body max-w-[80ch] text-center">
    <p>
      <img decoding="async" class="aligncenter" style="text-align: center;" src="/wp-content/uploads/2024/05/thank-you-icon.webp" alt="" width="150" height="150" loading="eager" fetchpriority="high" />
    </p>
    <h1 class="slider-head" style="text-align: center; color: #fff;">
      Thanks for contacting us! We will get in touch with you shortly.
    </h1>
    <div class="thanku-cont-info">
      <div>
        <h2 class="thankyou" style="text-align: center; color: #fff;">
          Prefer to call? You’ll find us here:
        </h2>
        <p>
          <a style="text-align: center; color: #fff;" href="tel:407-839-6452">407-839-6452</a>
        </p>
      </div>
      <div>
        <h2 class="thankyou" style="text-align: center; color: #fff;">
          Stop on by.
        </h2>
        <p style="text-align: center; color: #fff;">
          62 West Colonial Dr. Suite
          <br />
          305 Orlando, FL 32801
        </p>
      </div>
    </div>
  </div>
</div>
<style>
.image-slider{background-color:#000 !important;}
</style>
