---
layout: "layouts/base.njk"
permalink: "/thankyou-page/"
title: "Thankyou Page | Studio Say So"
description: ""
canonical: "https://studiosayso.com/thankyou-page/"
robots: "noindex, follow"
bodyClass: "wp-singular page-template page-template-template-pages page-template-page-studio-dev page-template-template-pagespage-studio-dev-php page page-id-1392 wp-theme-studio-say-so"
ogTags: |
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Thankyou Page | Studio Say So" />
  <meta property="og:url" content="https://studiosayso.com/thankyou-page/" />
  <meta property="og:site_name" content="Studio Say So" />
  <meta property="og:updated_time" content="2024-05-10T08:23:31-04:00" />
twitterTags: |
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Thankyou Page | Studio Say So" />
  <meta name="twitter:label1" content="Time to read" />
  <meta name="twitter:data1" content="Less than a minute" />
jsonld: |
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Place",
        "@id": "https://studiosayso.com/#place",
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "28.5529579",
          "longitude": "-81.3802166"
        },
        "hasMap": "https://www.google.com/maps/search/?api=1&amp;query=28.5529579,-81.3802166",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "62 West Colonial Dr. Suite 305",
          "addressLocality": "Orlando",
          "addressRegion": "FL",
          "postalCode": "32801",
          "addressCountry": "USA"
        }
      },
      {
        "@type": [
          "Organization",
          "ProfessionalService"
        ],
        "@id": "https://studiosayso.com/#organization",
        "name": "Studio Say So",
        "url": "https://studiosayso.com",
        "sameAs": [
          "https://www.facebook.com/studiosaysovideo/",
          "https://www.instagram.com/studiosaysovideo/",
          "https://vimeo.com/studiosayso",
          "https://www.linkedin.com/company/studio-say-so",
          "https://twitter.com/studiosayso",
          "https://clutch.co/profile/studio-say-so"
        ],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "62 West Colonial Dr. Suite 305",
          "addressLocality": "Orlando",
          "addressRegion": "FL",
          "postalCode": "32801",
          "addressCountry": "USA"
        },
        "logo": {
          "@type": "ImageObject",
          "@id": "https://studiosayso.com/#logo",
          "url": "https://studiosayso.com/wp-content/uploads/2023/02/favicon.png",
          "contentUrl": "https://studiosayso.com/wp-content/uploads/2023/02/favicon.png",
          "caption": "Studio Say So",
          "inLanguage": "en-US",
          "width": "192",
          "height": "192"
        },
        "location": {
          "@id": "https://studiosayso.com/#place"
        },
        "telephone": "+1-407-839-6452",
        "areaServed": [
          {
            "@type": "City",
            "name": "Orlando"
          },
          {
            "@type": "State",
            "name": "Florida"
          },
          {
            "@type": "Country",
            "name": "United States"
          }
        ]
      },
      {
        "@type": "WebSite",
        "@id": "https://studiosayso.com/#website",
        "url": "https://studiosayso.com",
        "name": "Studio Say So",
        "alternateName": "Studio Say So",
        "publisher": {
          "@id": "https://studiosayso.com/#organization"
        },
        "inLanguage": "en-US"
      },
      {
        "@type": "BreadcrumbList",
        "@id": "https://studiosayso.com/thankyou-page/#breadcrumb",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": "1",
            "item": {
              "@id": "https://studiosayso.com",
              "name": "Home"
            }
          },
          {
            "@type": "ListItem",
            "position": "2",
            "item": {
              "@id": "https://studiosayso.com/thankyou-page/",
              "name": "Thankyou Page"
            }
          }
        ]
      },
      {
        "@type": "WebPage",
        "@id": "https://studiosayso.com/thankyou-page/#webpage",
        "url": "https://studiosayso.com/thankyou-page/",
        "name": "Thankyou Page | Studio Say So",
        "datePublished": "2024-05-10T03:56:26-04:00",
        "dateModified": "2024-05-10T08:23:31-04:00",
        "isPartOf": {
          "@id": "https://studiosayso.com/#website"
        },
        "primaryImageOfPage": {
          "@id": "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.jpg"
        },
        "inLanguage": "en-US",
        "breadcrumb": {
          "@id": "https://studiosayso.com/thankyou-page/#breadcrumb"
        }
      },
      {
        "@type": "ImageObject",
        "@id": "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.jpg",
        "url": "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.jpg",
        "contentUrl": "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.jpg",
        "width": "2000",
        "height": "1017",
        "inLanguage": "en-US"
      }
    ]
  }
lastmod: "2024-05-10T08:23:31-04:00"
---
{% import "macros/ui.njk" as ui %}
<section class="custom-container grid grod-cols-1 lg:grid-cols-2 gap-12 mb-32 ">
  <div class="text-white [&_h2]:text-[22px] [&_h2]:font-display [&_h2]:mb-2 [&_p]:max-w-[70ch]">
    <div class="marg-bottom">
    </div>
  </div>
</section>
<div class="w-[580px] -z-[100] opacity-0.5 absolute left-72 -bottom-80 hidden lg:block -translate-x-1/2 -translate-y-1/2">
  {{ ui.blob() }}
</div>
<div id="thnkupage-div"  class="custom-container flex flex-col items-center justify-center my-12 pt-16 ">
  <div class="text-colorText-body max-w-[80ch] whitespace-pre-line text-center"><p><img decoding="async" class="size-full wp-image-1393 aligncenter" style="text-align: center;" src="/wp-content/uploads/2024/05/thank-you-icon.png" alt="" width="150" height="auto" loading="eager" fetchpriority="high" /></p>
<h1 class="slider-head" style="text-align: center; color: #fff;">Thanks for contacting us! We will get in touch with you shortly.</h1>
<div class="thanku-cont-info">
<div>
<h2 class="thankyou" style="text-align: center; color: #fff;">Prefer to call? You’ll find us here:</h2>
<p><a style="text-align: center; color: #fff;" href="tel:407-839-6452">407-839-6452</a>
</div>
<div>
<h2 class="thankyou" style="text-align: center; color: #fff;">Stop on by.</h2>
<p style="text-align: center; color: #fff;">62 West Colonial Dr. Suite <br />305 Orlando, FL 32801
</div>
</div>
</div>
</div>
<style>
.image-slider{background-color:#000 !important;}
</style>
