---
layout: "layouts/base.njk"
permalink: "/work/"
title: "Our Work | Studio Say So"
description: "Great stories make people feel. They form a bond, and the value of that bond sticks. Check out our projects and see what Studio Say So is up to!!"
canonical: "https://studiosayso.com/work/"
ogType: "article"
readingTime: "Less than a minute"
robots: "follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
bodyClass: "wp-singular page-template page-template-template-pages page-template-page-work page-template-template-pagespage-work-php page page-id-10 page-parent wp-theme-studio-say-so"
schema:
  type: "WebPage"
  datePublished: "2022-12-21T15:44:44-05:00"
  dateModified: "2023-03-27T19:04:04-04:00"
  breadcrumb:
    - name: "Work"
      url: "https://studiosayso.com/work/"
  image:
    url: "https://studiosayso.com/wp-content/uploads/2023/02/danny-directing-blue-2.meta.jpg"
    width: 2000
    height: 1017
---
{% import "macros/ui.njk" as ui %}
<section class="main-carousel splide w-screen h-fit" data-splide='{"type":"slide","rewind":true,"drag":false,"speed":700,"easing":"cubic-bezier(0.25,0.46,0.45,0.94)","pagination":true,"arrows":true,"arrowPath":"M 32,20 L 12,40 L 8,36 L 24,20 L 8,4 L 12,0 Z"}'>
  <div class="splide__track">
    <div class="splide__list">
      <div
            class="w-screen min-h-screen splide__slide"
            style="background-image: url(/wp-content/uploads/2023/02/adventhealth.webp); background-position: center; background-size: cover;">
        <div class="w-full flex flex-col items-center min-h-screen px-5 lg:px-20 gap-8">
          <div class="custom-container text-transparent text-center mt-40">
            <h1 class="font-display text-5xl md:text-6xl mx-auto max-w-[20ch] mb-8">
              Some of the emotions we’ve instilled.
            </h1>
            <h2 class="max-w-[72ch] mx-auto">
              Great stories make people feel. They form a bond, and the value of that bond sticks. Watch some of the stories we’ve told, and feel some of the connections we’ve inspired.
            </h2>
          </div>
          <a
                    href="/work/adventhealth/"
                    class="aspect-[500_/_300] w-full max-w-[650px] relative z-10 mt-3 mx-20"
                    style="background-image: url(/wp-content/uploads/2023/02/adventhealth.webp); background-position: center; background-size: cover;"></a>
          <div class="text-center text-white relative z-20 pb-24">
            <a href="/work/adventhealth/"><h2 class="text-4xl md:text-5xl font-display mt-3">AdventHealth</h2></a><a href="/work/adventhealth/"><h2 class="text-[28px]">Case Study</h2></a>
          </div>
          <div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-50 duration-300 group-hover:opacity-0">
          </div>
        </div>
      </div>
      <div
            class="w-screen min-h-screen splide__slide"
            style="background-image: url(/wp-content/uploads/2023/02/rollins.webp); background-position: center; background-size: cover;">
        <div class="w-full flex flex-col items-center min-h-screen px-5 lg:px-20 gap-8">
          <div class="custom-container text-transparent text-center mt-40">
            <h2 class="font-display text-5xl md:text-6xl mx-auto max-w-[20ch] mb-8">
              Some of the emotions we’ve instilled.
            </h2>
            <h2 class="max-w-[72ch] mx-auto">
              Great stories make people feel. They form a bond, and the value of that bond sticks. Watch some of the stories we’ve told, and feel some of the connections we’ve inspired.
            </h2>
          </div>
          <a
                    href="/work/rollins-college/"
                    class="aspect-[500_/_300] w-full max-w-[650px] relative z-10 mt-3 mx-20"
                    style="background-image: url(/wp-content/uploads/2023/02/rollins.webp); background-position: center; background-size: cover;"></a>
          <div class="text-center text-white relative z-20 pb-24">
            <a href="/work/rollins-college/"><h2 class="text-4xl md:text-5xl font-display mt-3">Rollins College</h2></a><a href="/work/rollins-college/"><h2 class="text-[28px]">Case Study</h2></a>
          </div>
          <div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-50 duration-300 group-hover:opacity-0">
          </div>
        </div>
      </div>
      <div
            class="w-screen min-h-screen splide__slide"
            style="background-image: url(/wp-content/uploads/2023/02/campbellsville-01.webp); background-position: center; background-size: cover;">
        <div class="w-full flex flex-col items-center min-h-screen px-5 lg:px-20 gap-8">
          <div class="custom-container text-transparent text-center mt-40">
            <h2 class="font-display text-5xl md:text-6xl mx-auto max-w-[20ch] mb-8">
              Some of the emotions we’ve instilled.
            </h2>
            <h2 class="max-w-[72ch] mx-auto">
              Great stories make people feel. They form a bond, and the value of that bond sticks. Watch some of the stories we’ve told, and feel some of the connections we’ve inspired.
            </h2>
          </div>
          <a
                    href="/work/wiley-campbellsville/"
                    class="aspect-[500_/_300] w-full max-w-[650px] relative z-10 mt-3 mx-20"
                    style="background-image: url(/wp-content/uploads/2023/02/campbellsville-01.webp); background-position: center; background-size: cover;"></a>
          <div class="text-center text-white relative z-20 pb-24">
            <a href="/work/wiley-campbellsville/"><h2 class="text-4xl md:text-5xl font-display mt-3">Wiley Education | Campbellsville University </h2></a><a href="/work/wiley-campbellsville/"><h2 class="text-[28px]">Case Study</h2></a>
          </div>
          <div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-50 duration-300 group-hover:opacity-0">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="text-center absolute top-0 text-white w-full mt-40">
  <div class="custom-container">
    <h2 class="font-display text-5xl md:text-6xl mx-auto max-w-[20ch] mb-8">
      Some of the emotions we’ve instilled.
    </h2>
    <h2 class="max-w-[72ch] mx-auto">
      Great stories make people feel. They form a bond, and the value of that bond sticks. Watch some of the stories we’ve told, and feel some of the connections we’ve inspired.
    </h2>
  </div>
</div>
<section class="text-white mb-28">
  <div class="text-left mt-48">
    <h2 class="lg:text-4xl font-display leading-[.95] mb-28 text-center heading-underline">
      More of Our Work
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mb-28">
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/339621212/dbbf8e89ac" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/wp-content/uploads/2023/01/konya-plummer.webp); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-3 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">Konya Plummer: From UCF to World Cup</h2><p class="max-w-[32ch]"></p><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/202035372" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/wp-content/uploads/2023/01/valencia-college.webp); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-3 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">Valencia College: 50 Years of Better Tomorrows</h2><p class="max-w-[32ch]"></p><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/334905568/b6d614f020" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/wp-content/uploads/2023/01/seminole-state.webp); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-3 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">Seminole State TV Spot</h2><p class="max-w-[32ch]"></p><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://www.youtube.com/watch?v=x8Lvpkh3WYo" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/wp-content/uploads/2023/01/block-strong.webp); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-3 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">Block Strong</h2><p class="max-w-[32ch]"></p><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/188871917/8efdc40fe0" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/wp-content/uploads/2023/01/orlando-magic.webp); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-3 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">Orlando Magic Jersey Teaser</h2><p class="max-w-[32ch]"></p><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/138095163" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/wp-content/uploads/2023/01/florida-hospital.webp); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-3 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">Florida Hospital For Children - Dasah’s Day</h2><p class="max-w-[32ch]"></p><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/93506708" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/wp-content/uploads/2023/01/brain-divided.webp); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-3 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">A Brain Divided - Joscelyn Dempsey</h2><p class="max-w-[32ch]"></p><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/345690615/a64e9ad26a" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/wp-content/uploads/2023/01/autonomous-vehicle-summit.webp); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-3 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">Autonomous Vehicle Summit Promo</h2><p class="max-w-[32ch]"></p><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/162415511/7c76bb6497" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/wp-content/uploads/2023/01/go-for-less.webp); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-3 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">Go For Less </h2><p class="max-w-[32ch]"></p><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/191069479" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/wp-content/uploads/2023/01/florida-hospital-ortho.webp); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-3 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">Florida Hospital Orthopedics</h2><p class="max-w-[32ch]"></p><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://vimeo.com/174814711/af1dd675d0" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/wp-content/uploads/2023/01/lmg.webp); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-3 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">LMG</h2><p class="max-w-[32ch]"></p><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
      <div class="col-span-1 flex flex-col" min-h-full>
        <a
                                    href="https://www.youtube.com/watch?v=Zc86712pvkE" rel="lightbox"
                                    class="group border border-colorAccent-border mb-8 aspect-[400_/_250] overflow-hidden relative  flex items-center justify-center"
                                    style="background-image: url(/wp-content/uploads/2023/01/encore-at-reunion.webp); background-position: center; background-size: cover;"><div class="relative z-10  flex flex-col items-center gap-3 justify-center text-center p-2"><h2 class="text-white font-display text-[22px]">Encore At Reunion - Dan Marino</h2><p class="max-w-[32ch]"></p><span class="p-1 font-display text-white flex gap-4 items-center w-fit group-hover:translate-x-1 transition duration-200 button"><span>See Work</span>{{ ui.arrow() }} </span></div><div class="absolute w-full h-full top-0 right-0 bg-siteBackground content-space z-0 opacity-30 duration-300 group-hover:opacity-0"></div></a>
      </div>
    </div>
  </div>
</section>
<div class="custom-container relative text-center flex flex-col items-center justify-center pt-60 mt-20 pb-28 overflow-hidden">
  <div class="text-center">
    <h2 class=" text-white font-display text-4xl max-w-[28ch] mb-6">
      Tell your story.
    </h2>
  </div>
  <div class="">
    <div class="link-group">
      <a class=" px-5 py-4 bg-colorAccent-700 uppercase font-bold text-white flex gap-4 items-center w-fit hover:shadow hover:translate-x-1 transition duration-200 button" href="/contact-us/"><span>Let's Talk</span>{{ ui.arrow() }}</a>
    </div>
  </div>
  <div class="absolute w-[900px] overflow-hidden -bottom-2 right-1/2 translate-y-[50%] translate-x-[50%] -z-10 hidden lg:block">
    {{ ui.blob() }}
  </div>
</div>
