{#- jQuery, Responsive Lightbox and friends: identical on every page -#}
<script id="jquery-core-js" src="/wp-includes/js/jquery/jquery.min.js?ver=3.7.1"></script>
<script id="jquery-migrate-js" src="/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.4.1"></script>
<script id="dompurify-js" src="/wp-content/plugins/responsive-lightbox/assets/dompurify/purify.min.js?ver=3.3.1"></script>
<script id="responsive-lightbox-sanitizer-js" src="/wp-content/plugins/responsive-lightbox/js/sanitizer.js?ver=2.7.7"></script>
<script id="responsive-lightbox-swipebox-js" src="/wp-content/plugins/responsive-lightbox/assets/swipebox/jquery.swipebox.min.js?ver=1.5.2"></script>
<script id="underscore-js" src="/wp-includes/js/underscore.min.js?ver=1.13.8"></script>
<script id="responsive-lightbox-infinite-scroll-js" src="/wp-content/plugins/responsive-lightbox/assets/infinitescroll/infinite-scroll.pkgd.min.js?ver=4.0.1"></script>
<script id="responsive-lightbox-js" src="/wp-content/plugins/responsive-lightbox/js/front.js?ver=2.7.7"></script>
